#sidebar-collapse {
	border-bottom: 0px solid #e0e0e0;
	background-color: #f3f3f3;
	text-align: center;
	padding: 3px 0;
	position: relative;
}

#sidebar-collapse > [class*="icon-"] {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color: #aaaaaa;
	border: 1px solid #bbbbbb;
	padding: 1px 1px 1px 1px;
	line-height: 18px;
	border-radius: 20px;
	background-color: #ffffff;
	position: relative;
}
#sidebar-collapse:before {
	content: "";
	display: inline-block;
	height: 0;
	border-top: 2px solid #e0e0e0;
	position: absolute;
	left: 2px;
	right: 2px;
	top: 13px;
}

.bordered {
    border:1px solid;
    border-color:#dddddd;
    border-radius: 4px;
}

.borderless{
    border-color:transparent;
}

.borderless td{
    border-color:transparent;
}

    .header-nav li {
        width:180px;
        text-align:center;
    }

    .dropdown-header3 {
    width:540px;
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align:center;
    }

    .dropdown-header4 {
    width:720px;
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align:center;
    }
    
    .dropdown-header5 {
    width:900px;
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align:center;
    }

    .dropdown-header3 li {
        display:inline-block;
        width:180px;
        text-align:center;
    }
    .dropdown-header4 li {
        display:inline-block;
        width:180px;
        text-align:center;
    }
    .dropdown-header5 li {
        display:inline-block;
        width:180px;
        text-align:center;
    }

    .navbar .nav  li .dropdown-menu:before {
        display:none;
    }
    .navbar .nav  li .dropdown-menu:after {
        display:none;
    }
    .side-header {
        margin:3px 1px 0px 1px !important;
    }

    .side-item {
        margin:3px 1px 0px 1px !important;
        background-color:#ffffff;
        font-weight:normal;
        display:none;
    }
    .side-item a{
        padding:3px 0px 3px 30px !important;
    }


#leave input.red-warning
{
    background-color: red;
}

#leave input
{
    text-align: center;
}

#leave .textCenter
{
    text-align: center;
}

#leave .tableRow
{
    vertical-align: middle;
    height: 30px;
}

#leave input.margin0
{
    width: 120px;
}

#leave input.small
{
    width: 60px;
}

#leave input.margin0.large
{
    width: 250px;
}

#leave .noblank
{
    margin: 0px;
    padding: 0px;
}

#leave .box-text
{
    border:0;
    background-color:#f8f8f8;
    font-size : 0.95em;
}

#leave td.medium
{
    width: 185px;
}
#leave .medium
{
    width: 150px;
}

#leave .large
{
    width: 250px;
}

#leave .cursorHand
{
    cursor: pointer;
    cursor: hand;
}

#leave .backgroundRed
{
    background: red;
}

#leave .backgroundBlack
{
    background: #999;
}

#leave .backgroundBrown
{
    background: #dbdbd2;
}


#leave .colorWhite
{
    color: white;
}

#leave .width100
{
    width: 100%;
}

#leave .width98
{
    width: 98%;
}

#leave .width95
{
    width: 95%;
}

#leave .margin5
{
    margin: 5px;
}

#leave .padding5
{
    padding: 5px;
}

#leave .preview
{
    width: 100%;
    height: 500px;
}

#leave .textRight
{
    text-align: right;
}

#leave .titlebox
{
    border-bottom: 3px solid #eee;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12pt;
}

#leave .boldgray
{
    margin-top: 10px;
    background-color: #ccc;
}

#leave .boldgray > div
{
    padding: 5px;
}

#leave .lightgray
{
    background-color: #eee;
}

#leave .whitebox
{
    border: 1px solid #cecece;
    padding: 3px;
}

#leave .padding3
{
    padding: 3px;
}

#leave .padding5
{
    padding: 5px;
}

#leave .lightgray > div
{
    padding: 5px;
}

#leave .textLarge
{
    font-size: 15pt;
}

#leave tr.graycell > td
{
    background-color: #eee;
    border: 1px solid #eee;
    font-size:2pt;
}

#leave tr.itemcell > td {
    border: 1px solid #eee;
    font-size:2pt;
}

#leave tr.itemcell > :first-child {
    background-color: #eee;
    border: 1px solid #eee;
}

#leave .print-comment
{
    width: 100%;
}

#leave .contact td 
{
    border: 1px solid #cecece;
}

#leave .contact .graycell
{
    background-color: #eee;
}

#leave .sign
{
    font-size: 12pt;
    font-weight: bold;
}

#leave .uploader
{
    width: auto;
}

#leave .uploader .filename
{
    width: 200px;
}

#leave .underline
{
    text-decoration: underline;
}
