#sidebar-collapse {
	border-bottom: 0px solid #e0e0e0;
	background-color: #f3f3f3;
	text-align: center;
	padding: 3px 0;
	position: relative;
}

#sidebar-collapse > [class*="icon-"] {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color: #aaaaaa;
	border: 1px solid #bbbbbb;
	padding: 1px 1px 1px 1px;
	line-height: 18px;
	border-radius: 20px;
	background-color: #ffffff;
	position: relative;
}
#sidebar-collapse:before {
	content: "";
	display: inline-block;
	height: 0;
	border-top: 2px solid #e0e0e0;
	position: absolute;
	left: 2px;
	right: 2px;
	top: 13px;
}

.bordered {
    border:1px solid;
    border-color:#dddddd;
    border-radius: 4px;
}

.borderless{
    border-color:transparent;
}

.borderless td{
    border-color:transparent;
}

    .dropdown-header3 {
    width:325%;
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align:center;
    }

    .dropdown-header4 {
    width:430%;
    position: absolute;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align:center;
    }

    .dropdown-header3 li {display:inline-block;}
    .dropdown-header4 li {display:inline-block;}

    .navbar .nav  li .dropdown-menu:before {
        display:none;
    }
    .navbar .nav  li .dropdown-menu:after {
        display:none;
    }
