<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .white {
    	background-color: #ffffff;
    }
    .must {
    	color: red;
    	float: left;
    	margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    <div class="container">
        <div class="pull-right" style="vertical-align:middle;">
                <input type="text" class="search-query" placeholder="검색">
        </div>
        <div class="pull-right" style="margin-right:5px">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    통합검색
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">기타검색</a></li>
                </ul>
            </div>
        </div>
        <h1>Yewoo housing management system</h1>
    </div>
    <div class="navbar" style="margin:0">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p class="navbar-text pull-left">
              관리자 <a href="#" class="navbar-link">김지훈</a> 님 <button class="btn btn-mini">로그아웃</button>
          </p>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="disabled"><a href="#">업무 게시글쓰기</a></li>
            <li class="disabled"><a href="#">안 읽은 글</a></li>
            <li class="disabled"><a href="#">내 게시물</a></li>
            <li class="disabled"><a href="#">통합 게시판</a></li>
            <li class="disabled"><a href="#">내 일정 관리</a></li>
            <li class="disabled"><a href="#">내 정보 관리</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p class="navbar-text pull-left">
              지난 로그인 2014.06.12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">건물 관리 시스템<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/building/register/">건물 정보 등록</a></li>
                <li><a href="/building/search/building/">등록 건물 정보 확인</a></li>
                <li><a href="/building/search/rooms/">등록 호수 정보 확인</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">입주자 관리 시스템<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/resident/show/">입주자 정보 확인(목록)</a></li>
                <li><a href="/resident/info/">입주자 정보 입력(개별)</a></li>
                <li><a href="/resident/infoFile/">입주자 정보 입력(파일)</a></li>
              </ul>
            </li>
            <li class="disabled"><a href="#contact">시설 관리 시스템</a></li>
            <li><a href="#contact">통합 내역 관리 시스템</a></li>
            <li class="disabled"><a href="#contact">관리자 시스템</a></li>
            <li class="disabled"><a href="#contact">통계 시스템</a></li>
            <li class="disabled"><a href="#contact">사내 정보 시스템</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end:Header --!>
	
	<div class="container-fluid">
		<div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">사이드바 영역</li>
                <p>사이드바 영역입니다.<br><br><br><br><br><br><br></p>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
						
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span10">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">건물 관리</a> <span class="divider">></span>
						</li>
						<li>
							<a href="#">등록 건물 정보 확인</a>
						</li>
					</ul>
				</div>
				
				<div>
					<form class="form-inline" onSubmit="return false;">
						<div class="span8" style="margin-bottom:5px">
							<input id="searchWord" class="margin0 input-medium" type="text" />
							<button class="btn btn-small" onclick="Search();">검색</button>
							<button id="detail_btn" class="btn btn-small">상세</button>
							<button class="btn btn-small" onclick="SearchAll();">전체보기</button>
						</div>	
					</form>
				</div>
				
				<!-- start: table -->
				<div id="search_detail" class="row-fluid" style="display:none;">
					<div class="span11" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px">
						<table class="table table-bordered table-condensed" style="margin-bottom:5px">
							<colgroup>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
							</colgroup>
							<tbody>
							  	<tr>
									<td colspan="6">
										<div class="optional" style="margin-right:27px"><strong>건물명</strong></div>
										<select id="search_name" class="margin0" style="width:130px">
											<option value="">선택</option>
											{% for b in buildings %}
											<option value="{{ b.name }}">{{ b.name }}</option>
											{% endfor %}
										</select>
									</td>
									<td colspan="5">
										<div class="optional" style="margin-right:27px"><strong>건물 번호</strong></div>
										<select id="search_number" class="margin0" style="width:90px">
											<option value="">선택</option>
											{% for b in buildings %}
											<option value="{{ b.number }}">No.{{ b.number }}</option>
											{% endfor %}
										</select>
									</td>
									<td colspan="5">
										<div class="optional" style="margin-right:27px"><strong>건물 형식</strong></div>
										<select id="search_type" class="margin0" style="width:120px">
											<option value="">선택</option>
											<option value="0">임대 건물</option>
											<option value="1">주상 복합</option>
										</select>
									</td>
									<td colspan="4">
										<div class="optional" style="margin-right:27px"><strong>담당자</strong></div>
										<input id="search_manager" type="text" class="margin0" style="width:90px" />
									</td>
								</tr>
							  	<tr>
							  		<td colspan="10"> 
										<div class="optional"><strong>건물 층수</strong></div>
										<select id="search_startFloor" class="margin0" style="width:80px">
											<option value="">선택</option>
											<option value="지하">지하</option>
											<option value="지상">지상</option>
										</select>
										<select id="search_startFloorNumber" class="margin0" style="width:80px">
											<option value="">선택</option>
											{% for i in range|slice:":10" %}
											<option value="{{ i }}">{{ i }}층</option>
											{% endfor %}
										</select>
										<span class="margin0">~</span>
										<select id="search_endFloor" class="margin0" style="width:80px">
											<option value="">선택</option>
											<option value="지하">지하</option>
											<option value="지상">지상</option>
										</select>
										<select id="search_endFloorNumber" class="margin0" style="width:80px">
											<option value="">선택</option>
											{% for i in range|slice:":10" %}
											<option value="{{ i }}">{{ i }}층</option>
											{% endfor %}
										</select>
							  		</td>
							  		<td colspan="6"> 
										<div class="optional"><strong>방 개수</strong></div>
										<select id="search_numRoomStart" class="margin0" style="width:80px">
											<option value="">선택</option>
											{% for i in range %}
											<option value="{{ i }}">{{ i }}개</option>
											{% endfor %}
										</select>
										<span class="margin0">~</span>
										<select id="search_numRoomEnd" class="margin0" style="width:80px">
											<option value="">선택</option>
											{% for i in range %}
											<option value="{{ i }}">{{ i }}개</option>
											{% endfor %}
										</select>
									</td>
							  		<td colspan="4"> 
							  			<div class="optional"><strong>주차 여부</strong></div>
							  			<select id="search_parkingNum" class="margin0" style="width:90px">
											<option value="">선택</option>
											{% for i in range %}
											<option value="{{ i }}">{{ i }}면</option>
											{% endfor %}
										</select>
							  		</td>
							  	</tr>
							</tbody>
						 </table>
						 
						 <div style="text-align:center">
							<form class="form-inline" onSubmit="return false;">
								<div style="margin-bottom:5px">
									<button class="btn btn-small" onclick="SearchDetail();">조회</button>
									<button class="btn btn-small" onclick="InitSearchDetail();">초기화</button>
								</div>	
							</form>
						 </div>
					</div>
				</div>

				<!-- 검색 결과 나타내기 -->
				<div id="search_result" class="row-fluid" style="display:none;">
					<div class="box span11" style="margin:0px; padding:0px; margin-top:20px">
						<div class="box-header">
							<h2><strong>등록 건물 확인</strong></h2>
						</div>
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8; font-size : 0.95em">
							<table class="table table-bordered table-condensed table-hover">
								<thead>
									<tr>
										<!--<th width="5%"><input id="result_checkall" type="checkbox"></th>-->
										<th width="8%" style="text-align:center">No.</th>
										<th width="15%" style="text-align:center">건물명</th>
										<th width="15%" style="text-align:center">건물 형식</th>
										<th width="15%" style="text-align:center">담당자</th>
										<th width="25%" style="text-align:center">건물 층수</th>
										<th width="11%" style="text-align:center">방 개수</th>
										<th width="11%" style="text-align:center">주차 여부</th>
									</tr>
								</thead>
								<tbody id="search_result_content">
								</tbody>
							 </table>  
						</div>
					</div>
				</div>
				<!-- end: table -->
			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	
				
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/01_02_building_search.js"></script>
		<script src="{{ STATIC_URL }}/js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				/*
				setTimeout("message_welcome1()",5000);
				setTimeout("message_welcome2()",10000);	
				setTimeout("message_welcome3()",15000);
				setInterval(f_visits, 100);
				setInterval(f_members, 2000);
				setInterval(f_income, 5000);
				setInterval(f_sales, 5000);
				setInterval(live_notifications_center, 5000);
				*/
				// show sidebar
				show_sidebar();
					
				// 상세 버튼
				$('#detail_btn').click(function() {
					if ($('#search_detail').css('display') == 'none')
						$('#search_detail').show();
					else
						$('#search_detail').hide(); 
				});

				
				$('#result_checkall').click(function() {
					var chk = $(this).is(':checked');				
					$('input[name=result_check]:checkbox').each(function() {
						$(this).attr('checked', chk);
					});
				});
				
				SearchAll();
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
