<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .white {
    	background-color: #ffffff;
    }
    .must {
    	color: red;
    	float: left;
    	margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	</style>
		
</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="Optimus Dashboard" src="{{ STATIC_URL }}bootstrap/img/logo20.png" /> <span>Optimus Dashboard</span></a>
								
				<!-- start: Header Menu -->
				<div class="btn-group pull-right" >
					<a class="btn" href="#">
						<i class="icon-warning-sign"></i><span class="hidden-phone hidden-tablet"> notifications</span> <span class="label label-important hidden-phone">2</span> <span class="label label-success hidden-phone">11</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-tasks"></i><span class="hidden-phone hidden-tablet"> tasks</span> <span class="label label-warning hidden-phone">17</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-envelope"></i><span class="hidden-phone hidden-tablet"> messages</span> <span class="label label-success hidden-phone">9</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-wrench"></i><span class="hidden-phone hidden-tablet"> settings</span>
					</a>
					<!-- start: User Dropdown -->
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone hidden-tablet"> admin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
					<!-- end: User Dropdown -->
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	
	<div id="under-header">
	</div>
	<!-- start: Header -->
	
	<div class="container-fluid">
		<div class="row-fluid">
						
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">주요 메뉴</li>
						<li><a href="/main/"><i class="icon-home"></i><span class="hidden-tablet"> 홈으로</span></a></li>
						<li><a href="#resident" data-toggle="collapse"><i class="icon-chevron-right"></i><span class="hidden-tablet"> [입주자 관리]</span></a></li>
						<ul id="resident" class="nav nav-tab nav-stacked main-menu collapse">
				            <li><a href="/resident/info/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 입력</span></a></li>
							<li><a href="/resident/show/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 확인</span></a></li>
				        </ul>
					 </ul>
			  	</div>
			</div>
			<!-- end: Main Menu -->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span10">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">입주자 관리</a> <span class="divider">></span>
						</li>
						<li>
							<a href="#">입주자 정보 확인</a>
						</li>
					</ul>
				</div>
				
				<div>
					<form class="form-inline" onSubmit="return false;">
						<div class="span8" style="margin-bottom:5px">
							<input id="searchWord" class="margin0 input-medium" type="text" />
							<button class="btn btn-small" onclick="Search();">검색</button>
							<button id="detail_btn" class="btn btn-small">상세</button>
						</div>	
					</form>
				</div>
				
				<!-- start: table -->
				<div id="search_detail" class="row-fluid" style="display:none;">
					<div class="span11" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px">
						<table class="table table-bordered table-condensed" style="margin-bottom:5px">
							<colgroup>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
								<col width="5%"></col>
							</colgroup>
							<tbody>
							  	<tr>
									<td colspan="5">
										<div class="optional"><strong>건물명</strong></div>
										<select id="search_buildingName" class="margin0 input-medium">
											<option value="">선택</option>
											<option value="루체씨티">루체씨티</option>
											<option value="1번건물">1번건물</option>
											<option value="2번건물">2번건물</option>
											<option value="3번건물">3번건물</option>
											<option value="4번건물">4번건물</option>
										</select>
									</td>
									<td colspan="5">
										<div class="optional"><strong>호 실</strong></div>
										<select id="search_buildingRoomNumber" class="margin0 input-small">
											<option value="">선택</option>
											<option value="101">101</option>
											<option value="102">102</option>
											<option value="103">103</option>
											<option value="201">201</option>
											<option value="202">202</option>
											<option value="203">203</option>
										</select>
									</td>
									<td colspan="5">
										<div class="optional"><strong>임차인</strong></div>
										<input id="search_contractorName" type="text" class="margin0 input-small" />
									</td>
									<td colspan="5">
										<div class="optional"><strong>성 별</strong></div>
										<select id="search_contractorGender" class="margin0 input-small">
											<option value="">선택</option>
											<option value="남">남</option>
											<option value="여">여</option>
										</select>
									</td>
								</tr>
							  	<tr>
							  		<td colspan="5"> 
							  			<div class="optional"><strong>보증금</strong></div>
							  			<input id="search_leaseDeposit" type="text" class="margin0 input-small" />
							  		</td>
							  		<td colspan="5"> 
							  			<div class="optional"><strong>임대료</strong></div>
							  			<input id="search_leaseMoney" type="text" class="margin0 input-small" />
							  		</td>
							  		<td colspan="10"> 
							  			<div class="optional"><strong>임대 구분</strong></div>
							  			<select id="search_leaseType" class="margin0 input-small">
											<option value="">전체</option>
											<option value="월세">월세</option>
											<option value="전세">전세</option>
											<option value="매매">매매</option>
										</select>
							  		</td>
							  	</tr>
							  	<tr>
							  		<td colspan="8">
							  			<div class="optional"><strong>임대 기간</strong></div>
							  			<input id="search_inDate" class="margin0 input-small datepicker" type="text" placeholder="입주일" />
							  			<input id="search_outDate" class="margin0 input-small datepicker" type="text" placeholder="만료일" disabled="" />
									</td>
									<td colspan="4">
										<div class="optional"><strong>주차 여부</strong></div>
										<select id="search_isParking" class="margin0 input-small">
											<option value="">선택</option>
											<option value="y">예</option>
											<option value="n">아니요</option>
										</select>
									</td>
									<td colspan="4">
										<div class="optional"><strong>공실 여부</strong></div>
										<select id="search_isEmptyRoom" class="margin0 input-small">
											<option value="">선택</option>
											<option value="y">예</option>
											<option value="n">아니요</option>
										</select>
									</td>
									<td colspan="4">
										<div class="optional"><strong>연체 여부</strong></div>
										<select id="search_isOverdue" class="margin0 input-small">
											<option value="">선택</option>
											<option value="y">예</option>
											<option value="n">아니요</option>
										</select>
									</td>
								  </tr>
							</tbody>
						 </table>
						 
						 <div style="text-align:center">
							<form class="form-inline" onSubmit="return false;">
								<div style="margin-bottom:5px">
									<button class="btn btn-small" onclick="SearchDetail();">조회</button>
									<button class="btn btn-small">초기화</button>
								</div>	
							</form>
						 </div>
					</div>
				</div>

				<!-- 검색 결과 나타내기 -->
				<div id="search_result" class="row-fluid" style="display:none;">
					<div class="box span11" style="margin: 0px; padding: 0px">
						<div class="box-header">
							<h2><strong>입주자 정보 확인</strong></h2>
						</div>
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8; font-size : 0.95em">
							<table class="table table-bordered table-condensed table-hover">
								<thead>
									<tr>
										<!--<th width="5%"><input id="result_checkall" type="checkbox"></th>-->
										<th width="15%">건물명</th>
										<th width="7%">호실</th>
										<th width="7%">이름</th>
										<th width="7%">성별</th>
										<th width="10%">임대구분</th>
										<th width="8%">보증금</th>
										<th width="8%">임대료</th>
										<th width="15%">입주일</th>
										<th width="15%">만료일</th>
										<th width="8%">연체</th>
									</tr>
								</thead>
								<tbody id="search_result_content">
									<!--
									{% for res in result %}
								  	<tr class="white">
										<td><input name="result_check" type="checkbox"></td>
										<td>{{ res.buildingName }}</td>
										<td>{{ res.buildingRoomNumber }}</td>
										<td>{{ res.contractorName }}</td>
										<td>{{ res.contractorGender }}</td>
										<td>{{ res.leaseType }}</td>
										<td>{{ res.leaseDeposit }}</td>
										<td>{{ res.leaseMoney }}</td>
										<td>{{ res.inDate }}</td>
										<td>{{ res.outDate }}</td>
										<td></td><td>{{ res.연체 }}</td
									</tr>
									{% endfor %}
									-->
								</tbody>
							 </table>  
						</div>
					</div>
				</div>
				<!-- end: table -->
			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	
				
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}js/02_02_resident_show.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				/*
				setTimeout("message_welcome1()",5000);
				setTimeout("message_welcome2()",10000);	
				setTimeout("message_welcome3()",15000);
				setInterval(f_visits, 100);
				setInterval(f_members, 2000);
				setInterval(f_income, 5000);
				setInterval(f_sales, 5000);
				setInterval(live_notifications_center, 5000);
				*/
				
				$('#search_inDate').change(function() {
					var mdy = $('#search_inDate').val().split('/');
					$('#search_inDate').val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
					$('#search_outDate').attr('disabled', false);
				});
				
				$('#search_outDate').change(function() {
					var mdy = $('#search_outDate').val().split('/');
					$('#search_outDate').val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
					var mdyin = $('#search_inDate').val().split('.');
					if (mdyin[0] > mdy[2] ||
						(mdyin[0] == mdy[2] && mdyin[1] > mdy[0]) ||
						(mdyin[0] == mdy[2] && mdyin[1] == mdy[0] && mdyin[2] > mdy[1]))
					{
						alert('만료일은 입주일 이후의 날짜만 입력 가능합니다.');
						$('#search_outDate').val('');
					}
				});
					
				// 상세 버튼
				$('#detail_btn').click(function() {
					if ($('#search_detail').css('display') == 'none')
						$('#search_detail').show();
					else
						$('#search_detail').hide(); 
				});

				// 주차 유무
				$(':radio[name="haveCar"]').click(function() {
					if ($(this).val() == 'y') {
						$('#carNumber').attr('disabled', false);
						$('#parkingFee').attr('disabled', false);
					}
					else {
						$('#carNumber').val('');
						$('#carNumber').attr('disabled', true);
						$('#parkingFee').attr('disabled', true);
					}
				});
				
				$('#result_checkall').click(function() {
					var chk = $(this).is(':checked');				
					$('input[name=result_check]:checkbox').each(function() {
						$(this).attr('checked', chk);
					});
				});
/*
				$('tr').click(function() {
					var pa = $(this).parent();
					var id = $(this).parent().find('id');
					alert(pa);
					alert(id);
					});
*/
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
