<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .white {
    	background-color: #ffffff;
    }
    .must {
    	color: red;
    	float: left;
    	margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
    }
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	</style>
		
</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="Optimus Dashboard" src="{{ STATIC_URL }}bootstrap/img/logo20.png" /> <span>Optimus Dashboard</span></a>
								
				<!-- start: Header Menu -->
				<div class="btn-group pull-right" >
					<a class="btn" href="#">
						<i class="icon-warning-sign"></i><span class="hidden-phone hidden-tablet"> notifications</span> <span class="label label-important hidden-phone">2</span> <span class="label label-success hidden-phone">11</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-tasks"></i><span class="hidden-phone hidden-tablet"> tasks</span> <span class="label label-warning hidden-phone">17</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-envelope"></i><span class="hidden-phone hidden-tablet"> messages</span> <span class="label label-success hidden-phone">9</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-wrench"></i><span class="hidden-phone hidden-tablet"> settings</span>
					</a>
					<!-- start: User Dropdown -->
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone hidden-tablet"> admin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
					<!-- end: User Dropdown -->
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	
	<div id="under-header">
	</div>
	<!-- start: Header -->
	
	<div class="container-fluid">
		<div class="row-fluid">
						
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">주요 메뉴</li>
						<li><a href="/main/"><i class="icon-home"></i><span class="hidden-tablet"> 홈으로</span></a></li>
						<li><a href="#building" data-toggle="collapse"><i class="icon-chevron-right"></i><span class="hidden-tablet"> [건물 관리]</span></a></li>
						<ul id="building" class="nav nav-tab nav-stacked main-menu collapse" style="margin-bottom:-1px">
				            <li><a href="/building/register/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 건물 정보 등록</span></a></li>
							<li><a href="/building/search/building/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 등록 건물 정보 확인</span></a></li>
							<li><a href="/building/search/rooms/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 등록 호수 정보 확인</span></a></li>
				        </ul>
						<li><a href="#resident" data-toggle="collapse"><i class="icon-chevron-right"></i><span class="hidden-tablet"> [입주자 관리]</span></a></li>
						<ul id="resident" class="nav nav-tab nav-stacked main-menu collapse">
				            <li><a href="/resident/info/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 입력</span></a></li>
							<li><a href="/resident/show/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 확인</span></a></li>
				        </ul>
					 </ul>
			  	</div>
			</div>
			<!-- end: Main Menu -->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span10">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
						<a href="#">입주자 관리</a> <span class="divider">></span>
						</li>
						<li>
							<a href="#">입주자 정보 확인</a>
						</li>
					</ul>
				</div>
				
				<!-- 기본 정보 -->
				<div class="row-fluid">
					<div class="box span11" style="margin: 0px; padding: 0px">
						<div class="box-header">
							<h2><strong>입주자 상세 정보 확인</strong></h2>
						</div>
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8; font-size : 0.95em">
							<table class="table table-bordered table-condensed">
								<tr>
									<th width="15%">건물명</th>
									<th width="9%">호실</th>
									<th width="10%">이름</th>
									<th width="7%">성별</th>
									<th width="10%">임대구분</th>
									<th width="16%">보증금</th>
									<th width="13%">임대료</th>
									<th width="13%">연체</th>
									<th width="7%">주차</th>
								</tr>
								<tr class="white">
									
									<td>{{ result.buildingNameKor }}</td>
									<td>{{ result.roomNumber }}</td>
									<td>{{ result.contractorName }}</td>
									<td>{{ result.contractorGender }}</td>
									<td>{{ result.leaseType }}</td>
									<td>{{ result.leaseDeposit }}</td>
									<td>{{ result.leaseMoney }}</td>
									<td></td><!--<td>{{ result.연체 }}</td>-->
									<td>{{ result.haveCar }}</td>
								</tr>
								<tr>
									<th colspan="3">입주일 ~ 만료일</th>
									<th colspan="3">연락처</th>
									<th colspan="3">이메일</th>
								</tr>
								<tr class="white">
									<td colspan="3">{{ result.inDate }} ~ {{ result.outDate }}</td>
									<td colspan="3">{{ result.residentContactNumber1 }} , {{ result.residentContactNumber2 }}</td>
									<td colspan="3">{{ result.residentEmail }}</td>
								</tr>
							</table>  
						</div>
					</div>
				</div>

				<!-- 세부 정보 (탭) -->
					
				<div class="row-fluid">
					<div class="box span11" style="margin:0px">
						<div class="box-content">
						<ul class="nav nav-tabs" id="tabmenu">
							<li class="active"><a href="#info">1. 입주자 정보</a></li>
							<li><a href="#overdue">2. 연체 내역</a></li>
							<li><a href="#notice_statement">3, 공지 안내서</a></li>
							<li><a href="#account_statement">4. 퇴거 정산서</a></li>
							<li><a href="#request">5. 요청 사항</a></li>
						</ul>
						<div id="mytabcontent" class="tab-content">
							<!-- 입주자 기본정보 -->
							<div class="tab-pane active" id="info">
								<div class="row-fluid">
									<div class="box span12" style="margin: 0px; padding: 0px">
										<div class="box-header">
											<h2><strong>1. 임대 정보 입력</strong></h2>
										</div>
										<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
											<table class="table table-bordered table-condensed">
												<colgroup>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
												</colgroup>
												<tbody>
													<tr>
														<td colspan="7">
															<div class="must" style="margin-right:26px"><strong>건물명</strong></div>
															<select id="buildingName" class="margin0" style="width:150px" disabled>
																<option value="">선택</option>
																{% for b in building_name_id %}
																<option value="b{{ b.id }}" {% if result.buildingName == b.id %}selected{% endif %}>{{ b.name }}</option>
																{% endfor %}
															</select>
														</td>
														<td colspan="4">
															<div class="must"><strong>호    실</strong></div>
															<select id="buildingRoomNumber" class="margin0" style="width:80px" disabled>
																<option value="">선택</option>
																{% for r in rooms %}
																<option value="{{ r.num }}" {% if result.buildingRoomNumber == r.num %}selected{% endif %}>{{ r.kor }}</option>
																{% endfor %}
															</select>
														</td>
														<td colspan="9">
															<div class="must" style="margin-right:26px"><strong>입주일</strong></div>
															<input id="inDate" class="margin0 input-small datepicker" type="text" placeholder="입주일" value="{{ result.inDate }}" disabled />
															<input id="outDate" class="margin0 input-small datepicker disabled" type="text" placeholder="만료일" value="{{ result.outDate }}" disabled />
														</td>
													</tr>
													<tr>
														<td colspan="4"> 
															<div class="must"><strong>임대 구분</strong></div>
															<select id="leaseType" class="margin0 width2" disabled>
																<option value="월세" {% if result.leaseType == '월세' %}selected{% endif %}>월세</option>
																<option value="전세" {% if result.leaseType == '전세' %}selected{% endif %}>전세</option>
																<option value="매매" {% if result.leaseType == '매매' %}selected{% endif %}>매매</option>
															</select>
														</td>
														<td colspan="7">
															<div class="must"><strong>보증금</strong></div>
															<input id="leaseDeposit" type="text" class="margin0" style="width:80px" value="{{ result.leaseDeposit }}" disabled />
															<input id="leaseDeposit2" type="text" class="margin0" style="font-size:0.80em; width:140px" disabled />
														</td>
														<td colspan="9">
															<div class="must" style="margin-right:26px"><strong>임대료</strong></div>
															<select id="leasePayWay" class="margin0 width2" disabled>
																<option value="선불" {% if result.leasePayWay == '선불' %}selected{% endif %}>선불</option>
																<option value="후불" {% if result.leasePayWay == '후불' %}selected{% endif %}>후불</option>
															</select>
															<select id="leasePayDate" class="margin0 width2" disabled >
																{% for i in range %}                         
																<option value="{{ i }}" {% if result.leasePayDate == i %}selected{% endif %}>{{ i }}일</option>
																{% endfor %}
															</select>
															<input id="leaseMoney" type="text" class="margin0" style="width:127px" placeholder="임대료를 입력하세요." value="{{ result.leaseMoney }}" disabled />
														</td>
													</tr>
													<tr>
														<td colspan="11">
															<div class="must"><strong>중개 정보</strong></div>
															<select id="agency" class="" style="margin-right:5px; margin-bottom:0px; width:100px" disabled>
																<option value="공인중개" {% if result.agency == '공인중개' %}selected{% endif %}>공인중개</option>
																<option value="직거래" {% if result.agency == '직거래' %}selected{% endif %}>직거래</option>
															</select>
															<input id="agencyName" type="text" class="margin0" style="width:200px"  placeholder="중개 정보를 입력하세요." value="{{ result.agencyName }}" disabled />
														</td>
														<td colspan="9">
															<div class="must"><strong>입주 검침</strong></div>
															<select id="checkType" class="margin0" style="width:82px; font-size:0.8em" disabled>
																<option value="0" {% if result.checkType == 0 %}selected{% endif %}>일반</option>
																<option value="1" {% if result.checkType == 1 %}selected{% endif %}>원격검침1</option>
																<option value="2" {% if result.checkType == 2 %}selected{% endif %}>원격검침2</option>
															</select>
															<input id="checkE" type="text" class="margin0" style="width:28px" placeholder="전기" value="{{ result.checkE }}" disabled />
															<span id="checkStatus_0_2" {% if result.checkType == 1 %}style="display:none"{% endif %}>
																<input id="checkG" type="text" class="margin0" style="width:28px" placeholder="가스" value="{{ result.checkG }}" disabled />
																<input id="checkW" type="text" class="margin0" style="width:45px" placeholder="상하수도" value="{{ result.checkW }}" disabled />
															</span>
															<span id="checkStatus_1" {% if result.checkType != 1 %}style="display:none"{% endif %}>
																<input id="checkHWG" type="text" class="margin0" style="width:28px" placeholder="온수" value="{{ result.checkHWG }}" disabled />
																<input id="checkHG" type="text" class="margin0" style="width:28px" placeholder="난방" value="{{ result.checkHG }}" disabled />
																<input id="checkHWW" type="text" class="margin0" style="width:28px" placeholder="온수" value="{{ result.checkHWW }}" disabled />
																<input id="checkHW" type="text" class="margin0" style="width:28px" placeholder="난방" value="{{ result.checkHW }}" disabled />
																<a href="#" title="전기, 온수(가스), 난방(가스), 온수(수도), 난방(수도)" data-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a>
															</span>
														</td>
													  </tr>
												</tbody>
											 </table>  
										</div>
									</div>
								</div>
								
								<div class="row-fluid">
									<div class="box span12" style="margin: 0px; padding: 0px">
										<div class="box-header">
											<h2><strong>2. 임대 계약자</strong></h2>
										</div>
										<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
											<table class="table table-bordered table-condensed">
												<colgroup>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
												</colgroup>
												<tbody>
													<tr>
														<td colspan="10">
															<div class="must" style="margin-right:33px"><strong>성명</strong></div>
															<input id="contractorName" class="margin0 input-medium" type="text" placeholder="임대계약자 이름을 입력하세요." value="{{ result.contractorName }}" disabled />
															<select id="contractorGender" class="margin0 width2" style="margin-right:10px; margin-bottom:0px" disabled>
																<option value="남" {% if resut.contractorGender == '남' %}selected{% endif %}>남</option>
																<option value="여" {% if resut.contractorGender == '여' %}selected{% endif %}>여</option>
															</select>
														</td>
														<td colspan="10">
															<div class="must"><strong>주민등록번호</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="contractorRegNumber_1" class="margin0" type="text"style="width:60px" value="{{ result.contractorRegNumber_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="contractorRegNumber_2" class="margin0" type="text"style="width:60px" value="{{ result.contractorRegNumber_2 }}" disabled />
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="10">
															<div class="must"><strong>연락처 1</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="contractorContactNumber1_1" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber1_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="contractorContactNumber1_2" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber1_2 }}" disabled />
																<span class="add-on">-</span>
																<input id="contractorContactNumber1_3" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber1_3 }}" disabled />
															</div>
														</td>
														<td colspan="10">
															<div class="optional" style="margin-right:38px"><strong>연락처 2</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="contractorContactNumber2_1" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber2_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="contractorContactNumber2_2" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber2_2 }}" disabled />
																<span class="add-on">-</span>
																<input id="contractorContactNumber2_3" class="margin0" type="text" style="width:40px" value="{{ result.contractorContactNumber2_3 }}" disabled />
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="20">
															<div class="must" style="margin-right:29px"><strong>주 소</strong></div>
															<input id="contractorAddress" class="margin0" type="text" style="width:690px" value="{{ result.contractorAddress }}" disabled />
														</td>
													</tr>
												</tbody>
											 </table>  
										</div>
									</div>
								</div>
								
								<div class="row-fluid">
									<div class="box span12" style="margin: 0px; padding: 0px">
										<div class="box-header">
											<h2><strong>3. 실 거주자</strong></h2>
										</div>
										<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
											<table class="table table-bordered table-condensed">
												<colgroup>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
												</colgroup>
												<tbody>
													<tr>
														<td colspan="10">
															<div class="must" style="margin-right:65px"><strong>성명</strong></div>
															<input id="residentName" class="margin0 input-medium" type="text" placeholder="거주자 이름을 입력하세요." value="{{ result.residentName }}" disabled />
															<select id="residentGender" class="width2" style="margin-right:10px; margin-bottom:0px" disabled>
																<option value="남" {% if result.residentGender == '남' %}selected{% endif %}>남</option>
																<option value="여" {% if result.residentGender == '여' %}selected{% endif %}>여</option>
															</select>
														</td>
														<td colspan="10">
															<div class="must"><strong>주민등록번호</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="residentRegNumber_1" class="margin0" type="text" style="width:60px" value="{{ result.residentRegNumber_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentRegNumber_2" class="margin0" type="text" style="width:60px" value="{{ result.residentRegNumber_2 }}" disabled />
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="5">
															<div class="must"><strong>계약자와 관계</strong></div>
															<input id="relToContractor" class="margin0 input-small" type="text" value="{{ result.relToContractor }}" disabled />
														</td>
														<td colspan="5">
															<div class="must"><strong>실 거주자 수</strong></div>
															<input id="residentPeopleNumber" class="margin0" type="text" style="width:30px" value="{{ result.residentPeopleNumber }}" disabled />
														</td>
														<td colspan="10">
															<div class="must" style="margin-right:60px"><strong>주소</strong></div>
															<input id="residentAddress" class="margin0" type="text" style="width:300px" value="{{ result.residentAddress }}" disabled />
														</td>
													</tr>
													<tr>
														<td colspan="10">
															<div class="must" style="margin-right:42px"><strong>연락처 1</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="residentContactNumber1_1" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber1_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentContactNumber1_2" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber1_2 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentContactNumber1_3" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber1_3 }}" disabled />
															</div>
														</td>
														<td colspan="10">
															<div class="optional" style="margin-right:37px"><strong>연락처 2</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="residentContactNumber2_1" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber2_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentContactNumber2_2" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber2_2 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentContactNumber2_3" class="margin0" type="text" style="width:40px" value="{{ result.residentContactNumber2_3 }}" disabled />
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="10">
															<div class="optional" style="margin-right:51px"><strong>직장명</strong></div>
															<input id="residentOfficeName" class="margin0" type="text" style="width:200px" value="{{ result.residentOfficeName }}" disabled />
														</td>
														<td colspan="10">
															<div class="optional" style="margin-right:55px"><strong>직 급</strong></div>
															<input id="residentOfficeLevel" class="margin0" type="text" style="width:200px" value="{{ result.residentOfficeLevel }}" disabled />
														</td>
													</tr>
													<tr>
														<td colspan="20">
															<div class="optional" style="margin-right:37px"><strong>직장주소</strong></div>
															<input id="residentOfficeAddress" class="margin0" type="text" style="width:705px" value="{{ result.residentOfficeAddress }}" disabled />
														</td>
													</tr>									
													<tr>
														<td colspan="10">
															<div class="optional" style="margin-right:24px"><strong>직장연락처</strong></div>
															<div class="margin0 input-append input-prepend">
																<input id="residentOfficeContactNumber_1" class="margin0" type="text" style="width:40px" value="{{ result.residentOfficeContactNumber_1 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentOfficeContactNumber_2" class="margin0" type="text" style="width:40px" value="{{ result.residentOfficeContactNumber_2 }}" disabled />
																<span class="add-on">-</span>
																<input id="residentOfficeContactNumber_3" class="margin0" type="text" style="width:40px" value="{{ result.residentOfficeContactNumber_3 }}" disabled />
															</div>
														</td>
														<td colspan="10">
															<div class="must" style="margin-right:47px"><strong>E-mail</strong></div>
															<input id="residentEmail" class="margin0" type="text" style="width:200px" value="{{ result.residentEmail }}" disabled />
														</td>
													</tr>
													<tr>
														<td colspan="7">
															<div class="must" style="margin-right:33px"><strong>주차 유무</strong></div>
															<label class="radio">
																유
																<input type="radio" name="haveCar" id="haveCarY" value="y" {% if result.haveCar == 'y' %}checked{% endif %} disabled />
															</label>
															<label class="radio">
																무
																<input type="radio" name="haveCar" id="haveCarN" value="n" {% if result.haveCar == 'n' %}checked{% endif %} disabled />
															</label>
														</td>
														<td colspan="7">
															<div class="must"><strong>차량 번호</strong></div>
															<input id="carNumber" class="margin0 input-medium" type="text" placeholder="예시) 13가 5801" value="{{ result.carNumber }}" disabled />
														</td>
														<td colspan="6">
															<div class="must"><strong>주차 비용</strong></div>
															<select id="parkingFee" class="margin0 input-small" disabled >
																<option value="30000" {% if result.parkingFee == 30000 %}selected{% endif %}>30,000</option>
																<option value="20000" {% if result.parkingFee == 20000 %}selected{% endif %}>20,000</option>
																<option value="10000" {% if result.parkingFee == 10000 %}selected{% endif %}>10,000</option>
															</select>
														</td> 
													</tr>					
												</tbody>
											 </table>  
										</div>
									</div>
								</div>
								
								<div class="row-fluid">
									<div class="box span12" style="margin: 0px; padding: 0px">
										<div class="box-header">
											<h2><strong>4. 전달 유무</strong></h2>
										</div>
										<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
											<table class="table table-bordered table-condensed">
												<colgroup>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
													<col width="5%"></col>
												</colgroup>
												<tbody>
													<tr>
														<td colspan="8">
															<div class="must"><strong>중요사항 설명서</strong></div>
															<label class="radio">
																전달 유
																<input type="radio" name="sendMsg" id="sendMsgY" value="y" {% if result.sendMsg == 'y' %}checked{% endif %} disabled />
															</label>
															<label class="radio">
																전달 무
																<input type="radio" name="sendMsg" id="sendMsgN" value="n" {% if result.sendMsg == 'n' %}checked{% endif %} disabled />
															</label>
														</td>
														<td colspan="12">
															<div class="must"><strong>품목체크리스트</strong></div>
															<label class="radio">
																입실확인
																<input type="radio" name="checkin" id="checkinY" value="y" {% if result.checkin == 'y' %}checked{% endif %} disabled />
															</label>
															<label class="radio">
																미확인
																<input type="radio" name="checkin" id="checkinN" value="n" {% if result.checkin == 'n' %}checked{% endif %} disabled />
															</label>
															<label class="radio" style="margin-left:20px">
																퇴실확인
																<input type="radio" name="checkout" id="checkoutY" value="y" {% if result.checkout == 'y' %}checked{% endif %} disabled />
															</label>
															<label class="radio">
																미확인
																<input type="radio" name="checkout" id="checkoutN" value="n" {% if result.checkout == 'n' %}checked{% endif %} disabled />
															</label>
														</td>
													</tr>
													<tr id="checkoutDetail" {% if result.checkout == 'n' %}style="display:none"{% endif %}>
														<td colspan="15">
															<div class="optional"><strong>퇴실 사유</strong></div>
															<input type="text" id="checkoutWhy" class="margin0" style="width:550px" placeholder="예) 개인 사유로 퇴실함." value="{{ result.checkoutWhy }}" disabled />
														</td>
														<td colspan="5">
															<div class="optional"><strong>퇴실 날짜</strong></div>
															<input id="checkoutDate" class="margin0 input-small datepicker disabled" type="text" placeholder="퇴실 날짜" value="{{ result.checkoutDate }}" disabled />
														</td>
													</tr>
												</tbody>
											 </table>  
										</div>
									</div>
								</div>
								
								<div class="row-fluid">
									<div class="box span12" style="margin: 0px; padding: 0px">
										<div class="box-header">
											<h2><strong>5. 기타</strong></h2>
										</div>
										<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
											<table class="table table-bordered table-condensed">
												<colgroup>
													<col width="100%"></col>
												</colgroup>
												<tbody>
													<tr>
														<td>
															<input id="memo" class="margin0 span12" type="text" value="{{ result.memo }}" disabled />
														</td>
													</tr>			
												</tbody>
											 </table>  
										</div>
									</div>
								</div>
								<div>
									<form class="form-inline" onSubmit="return false;">
										<div class="span11" style="margin-bottom:5px; text-align:center">
											<button id="reviseStart" class="btn btn-inverse" onclick="Revise(false);">수정</button>
											<button id="reviseDone" class="btn btn-inverse" onclick="Revise(true);" style="display:none">수정완료</button>
										</div>	
									</form>
								</div>
							</div>

							<!-- 연체 -->	
							<div class="tab-pane" id="overdue">
								2
							</div>

							<!-- 공지 안내서 -->
							<div class="tab-pane" id="notice_statement">
								3
							</div>

							<!-- 퇴거 정산서 -->
							<div class="tab-pane" id="account_statement">
								4
							</div>
							
							<!-- 요청 사항 -->
							<div class="tab-pane" id="request">
								5
							</div>
						</div>
					</div>
				</div>
				</div>
				<!--<div class="row-fluid sortable">
					<div class="box span10">
						<div class="box-header">
							<h2><i class="icon-th"></i>Tabs</h2>
						</div>
						<div class="box-content">
							<ul class="nav tab-menu nav-tabs" id="mytab">
								<li class="active"><a href="#info">1. 입주자 정보</a></li>
								<li><a href="#overdue">2. 연체 내역</a></li>
								<li><a href="#notice_statement">3, 공지 안내서</a></li>
								<li><a href="#account_statement">4. 퇴거 정산서</a></li>
								<li><a href="#request">5. 요청 사항</a></li>
							</ul>

							<div id="mytabcontent" class="tab-content">
								<div class="tab-pane active" id="info">
									1
								</div>
								<div class="tab-pane" id="overdue">
									2
								</div>
								<div class="tab-pane" id="notice_statement">
									3
								</div>
								<div class="tab-pane" id="account_statement">
									4
								</div>
								<div class="tab-pane" id="request">
									5
								</div>
							</div>
						</div>
					</div>
				</div>
				-->


			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	
				
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}js/02_02_resident_show_detail.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
				/*
				setTimeout("message_welcome1()",5000);
				setTimeout("message_welcome2()",10000);	
				setTimeout("message_welcome3()",15000);
				setInterval(f_visits, 100);
				setInterval(f_members, 2000);
				setInterval(f_income, 5000);
				setInterval(f_sales, 5000);
				setInterval(live_notifications_center, 5000);
				 */
				$('#buildingName').change(function() {
					if ($(this).val() == '')
						$('#buildingRoomNumber').attr('disabled', true);
					else {
						getBuildingRooms($(this).val());
					}
				});

				$('#inDate').change(function() {
					var mdy = $('#inDate').val().split('/');
					$('#inDate').val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
					$('#outDate').attr('disabled', false);
				});
				
				$('#outDate').change(function() {
					var mdy = $('#outDate').val().split('/');
					$('#outDate').val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
					var mdyin = $('#inDate').val().split('.');
					if (mdyin[0] > mdy[2] ||
						(mdyin[0] == mdy[2] && mdyin[1] > mdy[0]) ||
						(mdyin[0] == mdy[2] && mdyin[1] == mdy[0] && mdyin[2] > mdy[1]))
					{
						alert('만료일은 입주일 이후의 날짜만 입력 가능합니다.');
						$('#outDate').val('');
					}
				});

				// 검침 내용 바꾸기
				$('#checkType').change(function() {
					if ($('#checkType').val() == '1') {
						$('#checkStatus_0_2').hide();
						$('#checkStatus_1').show();
						$('#checkE').val('');
						$('#checkHWG').val('');
						$('#checkHG').val('');
						$('#checkHWW').val('');
						$('#checkHW').val('');
					}
					else {
						$('#checkStatus_0_2').show();
						$('#checkStatus_1').hide();
						$('#checkE').val('');
						$('#checkG').val('');
						$('#checkW').val('');
					}
				});

				// checkout 날짜
				$('#checkoutDate').change(function() {
					var mdy = $('#checkoutDate').val().split('/');
					$('#checkoutDate').val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
				});

				// 퇴실(checkout)사유, 날짜 보이기/안보이기
				$(':radio[name="checkout"]').click(function() {
					if ($(this).val() == 'y') {
						$('#checkoutDetail').show();
					}
					else {
						$('#checkoutDetail').hide();
					}
				});

				// 보증금 한글표기
				$('#leaseDeposit').keyup(function() {
					var deposit = $('#leaseDeposit').val();
					var koreanDeposit = moneyToKorean(deposit);
					$('#leaseDeposit2').val(koreanDeposit+ '원');
				});
				
				// 주차 유무
				$(':radio[name="haveCar"]').click(function() {
					if ($(this).val() == 'y') {
						$('#carNumber').attr('disabled', false);
						$('#parkingFee').attr('disabled', false);
					}
					else {
						$('#carNumber').val('');
						$('#carNumber').attr('disabled', true);
						$('#parkingFee').attr('disabled', true);
					}
				});

				// 보증금 한글화
				$('#leaseDeposit2').val(moneyToKorean('{{ result.leaseDeposit }}')+' 원');

				// id
				resident_id = {{ uid }};
			});
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
