<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
		overflow: hidden;
    }
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#myModal {
		top : 10%;
		width : 80%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 10%;
	}
	.tooltip-inner {
		text-align:left !important;
		max-width:350px;
	}
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="lease" %}
    <!-- end:Header --!>
	<div class="container-fluid">
		<div class="row-fluid">
        <div class="span3" style="width:250px">
          {% include "sidebar.html" with side_menu="department" %}
        </div><!--/span-->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span9">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">임대 상세 내역 확인</a>
						</li>
					</ul>
				</div>
				
				{% load humanize %}
				<!-- 탭 내용 및 상세 화면 -->
				<div class="row-fluid">
					<div class="span11" style="margin:0px">
						<div class="box-content">
							<ul class="nav nav-tabs" id="tabmenu" style="margin-bottom:10px">
								<li class="active"><a href="#leaseNotice_tab">1. 임대 내역</a></li>
								<li><a href="#noticeDetail_tab">2. 고지 내역</a></li>
								<li><a href="#paymentDetail_tab">3. 납부 내역</a></li>
							</ul>
							<div id="mytabcontent" class="tab-content">
								<!-- 1. 임대 내역 -->
								<div class="tab-pane active" id="leaseNotice_tab">
									<!-- 임대 및 고지 상세 현황 -->
									<div class="row-fluid">
										<div class="span12">
											<div style="border:1px solid #000000; background-color:#dbdbd2; padding:7px 10px 7px 10px; font-size:1.1em; margin:0px 0px 10px 0px">
												<strong>상세 임대 정보</strong>
											</div>
										</div>
										<!-- 임대 내역 정보 -->
										<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="margin-right:5px">
													<h2><strong>최근 임대 정보</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<colgroup>
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="9%">
														<col width="9%">
														<col width="6%">
														<col width="10%">

														<col width="3%">
														<col width="13%">
														<col width="3%">
														<col width="10%">

														<col width="7%">
														<col width="7%">
														<col width="7%">
													</colgroup>
													<tr style="background-color:#dbdbd2">
														<td colspan="8">
															<div style="font-size:0.8em">건물명/호수</div>
															<div><h3 style="color:red">No.{{ building_id }} {{ building_name }} / {{ resident.buildingRoomNumber }}호</h3></div>
														</td>
														<td colspan="4">
															<div style="font-size:0.8em">보증금/월세</div>
															<div><h3 style="color:red">{{ simpleLeaseDeposit | intcomma }}/{{ simpleLeaseMoney | intcomma }}만원</h3></div>
														</td>
														<td colspan="3">
															<div style="font-size:0.8em">계약 평수</div>
															<div><h3 style="color:red"></h3></div>
														</td>
													</tr>
													<tr>
														<th style="text-align:center; vertical-align:middle" colspan="2">입주자</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대 회차</th>
														<th style="text-align:center; vertical-align:middle">계약일</th>
														<th style="text-align:center; vertical-align:middle">만료일</th>
														<th style="text-align:center; vertical-align:middle">재실 여부</th>
														<th style="text-align:center; vertical-align:middle">연락처</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">보증금</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대료</th>
														<th style="text-align:center; vertical-align:middle">관리비</th>
														<th style="text-align:center; vertical-align:middle">주차비</th>
														<th style="text-align:center; vertical-align:middle">부가세</th>
													</tr>
													<tr>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentName }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentGender }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseNumber }}회</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseContractPeriod }}개월</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.inDate }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.outDate }}</th>
														<td style="text-align:center; vertical-align:middle">{% if resident.checkOut == 'n' %}재실{% else %}퇴실{% endif %}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.contractorContactNumber1 }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseType }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseDeposit | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leasePayWay }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseMoney | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.maintenanceFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.parkingFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.surtax | intcomma }}</th>
													</tr>
												 </table>  
											</div>
										</div>
										<!-- 전체 임대 내역 -->
										<div class="row-fluid">
											<div class="box span12" style="margin: 5px 0px 5px 0px; padding: 0px">
												<div class="box-header">
													<div style="float:left; text-align:left">
														<h2><strong>전체 임대 내역</strong></h2>
													</div>
												</div>
												<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<table class="table table-bordered table-condensed" style="margin: 0px">
														<tr>
															<th>
																<div style="float:left; text-align:left">
																	<span>내역 현황</span>
																	<label style="display: inline-block"><input type="radio" name="" value="" checked></label>전체
																</div>
																<div style="text-align:right">
																	<button class="btn btn-small btn-inverse" onclick="pagePrint('1');">출력</button>
																</div>
															</th>
														</tr>
													</table>
												</div>
												<div id="contents" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<!-- ejs template으로 db내용을 불러온다. -->
												</div>
											</div>
										</div>
										<div class="row-fluid" style="text-align:center; margin-top:10px">
											<button class="btn btn-inverse" onclick="historyBack();">목록으로 가기</button>
										</div>
									</div>
								</div>
								<!-- 2. 고지 상세 현황 -->
								<div class="tab-pane" id="noticeDetail_tab">
									<!-- 임대 및 고지 상세 현황 -->
									<div class="row-fluid">
										<div class="span12">
											<div style="border:1px solid #000000; background-color:#dbdbd2; padding:7px 10px 7px 10px; font-size:1.1em; margin:0px 0px 10px 0px">
												<strong>상세 임대 정보</strong>
											</div>
										</div>
										<!-- 임대 내역 정보 -->
										<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="margin-right:5px">
													<h2><strong>최근 임대 정보</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<colgroup>
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="9%">
														<col width="9%">
														<col width="6%">
														<col width="10%">

														<col width="3%">
														<col width="13%">
														<col width="3%">
														<col width="10%">

														<col width="7%">
														<col width="7%">
														<col width="7%">
													</colgroup>
													<tr style="background-color:#dbdbd2">
														<td colspan="8">
															<div style="font-size:0.8em">건물명/호수</div>
															<div><h3 style="color:red">No.{{ building_id }} {{ building_name }} / {{ resident.buildingRoomNumber }}호</h3></div>
														</td>
														<td colspan="4">
															<div style="font-size:0.8em">보증금/월세</div>
															<div><h3 style="color:red">{{ simpleLeaseDeposit | intcomma }}/{{ simpleLeaseMoney | intcomma }}만원</h3></div>
														</td>
														<td colspan="3">
															<div style="font-size:0.8em">계약 평수</div>
															<div><h3 style="color:red"></h3></div>
														</td>
													</tr>
													<tr>
														<th style="text-align:center; vertical-align:middle" colspan="2">입주자</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대 회차</th>
														<th style="text-align:center; vertical-align:middle">계약일</th>
														<th style="text-align:center; vertical-align:middle">만료일</th>
														<th style="text-align:center; vertical-align:middle">재실 여부</th>
														<th style="text-align:center; vertical-align:middle">연락처</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">보증금</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대료</th>
														<th style="text-align:center; vertical-align:middle">관리비</th>
														<th style="text-align:center; vertical-align:middle">주차비</th>
														<th style="text-align:center; vertical-align:middle">부가세</th>
													</tr>
													<tr>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentName }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentGender }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseNumber }}회</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseContractPeriod }}개월</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.inDate }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.outDate }}</th>
														<td style="text-align:center; vertical-align:middle">-</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.contractorContactNumber1 }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseType }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseDeposit | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leasePayWay }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseMoney | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.maintenanceFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.parkingFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.surtax | intcomma }}</th>
													</tr>
												 </table>  
											</div>
										</div>
										<!-- 전체 임대 내역 -->
										<div class="row-fluid">
											<div class="box span12" style="margin: 5px 0px 5px 0px; padding: 0px">
												<div class="box-header">
													<div style="float:left; text-align:left">
														<h2><strong>전체 고지 내역</strong></h2>
													</div>
													<div style="text-align:right">
														<select id="leaseNumber_select_notice" class="margin0" style="width:120px">
														{% for elem in leaseNumberList %}
															<option value="{{ elem }}">임대 {{ elem }}회차</option>
														{% endfor %}
														</select>
														<button class="btn btn-small" onclick="getContentsNotice();">조회</button>
														<button class="btn btn-small" onclick="">초기화</button>
													</div>
												</div>
												<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<table class="table table-bordered table-condensed" style="margin: 0px">
														<tr>
															<th>
																<div style="float:left; text-align:left">
																	<span>내역 현황</span>
																	<label style="display: inline-block"><input type="radio" name="radioN2" value="0" /></label>전체
																	<label style="display: inline-block"><input type="radio" name="radioN2" value="1" /></label>선택
																	<label style="display: inline-block"><input type="radio" name="radioN2" value="2" /></label>고지서(전체)
																	<label style="display: inline-block"><input type="radio" name="radioN2" value="3" /></label>고지서(선택)
																</div>
																<div style="text-align:right">
																	<button class="btn btn-small btn-inverse" onclick="pagePrint('2');">출력</button>
																</div>
															</th>
														</tr>
													</table>
												</div>
												<div id="contents2" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<!-- ejs template으로 db내용을 불러온다. -->
												</div>
											</div>
										</div>
										<div class="row-fluid" style="text-align:center; margin-top:10px">
											<button class="btn btn-inverse" onclick="historyBack();">목록으로 가기</button>
										</div>
									</div>
								</div>
								<!-- 3. 연체 내역(건물, 개인) -->
								<div class="tab-pane" id="paymentDetail_tab">
									<!-- 임대 및 고지 상세 현황 -->
									<div class="row-fluid">
										<div class="span12">
											<div style="border:1px solid #000000; background-color:#dbdbd2; padding:7px 10px 7px 10px; font-size:1.1em; margin:0px 0px 10px 0px">
												<strong>상세 임대 정보</strong>
											</div>
										</div>
										<!-- 임대 내역 정보 -->
										<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="margin-right:5px">
													<h2><strong>최근 임대 정보</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<colgroup>
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="4%">
														<col width="9%">
														<col width="9%">
														<col width="6%">
														<col width="10%">

														<col width="3%">
														<col width="13%">
														<col width="3%">
														<col width="10%">

														<col width="7%">
														<col width="7%">
														<col width="7%">
													</colgroup>
													<tr style="background-color:#dbdbd2">
														<td colspan="8">
															<div style="font-size:0.8em">건물명/호수</div>
															<div><h3 style="color:red">No.{{ building_id }} {{ building_name }} / {{ resident.buildingRoomNumber }}호</h3></div>
														</td>
														<td colspan="4">
															<div style="font-size:0.8em">보증금/월세</div>
															<div><h3 style="color:red">{{ simpleLeaseDeposit | intcomma }}/{{ simpleLeaseMoney | intcomma }}만원</h3></div>
														</td>
														<td colspan="3">
															<div style="font-size:0.8em">계약 평수</div>
															<div><h3 style="color:red"></h3></div>
														</td>
													</tr>
													<tr>
														<th style="text-align:center; vertical-align:middle" colspan="2">입주자</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대 회차</th>
														<th style="text-align:center; vertical-align:middle">계약일</th>
														<th style="text-align:center; vertical-align:middle">만료일</th>
														<th style="text-align:center; vertical-align:middle">재실 여부</th>
														<th style="text-align:center; vertical-align:middle">연락처</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">보증금</th>
														<th style="text-align:center; vertical-align:middle" colspan="2">임대료</th>
														<th style="text-align:center; vertical-align:middle">관리비</th>
														<th style="text-align:center; vertical-align:middle">주차비</th>
														<th style="text-align:center; vertical-align:middle">부가세</th>
													</tr>
													<tr>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentName }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.residentGender }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseNumber }}회</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseContractPeriod }}개월</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.inDate }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.outDate }}</th>
														<td style="text-align:center; vertical-align:middle">-</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.contractorContactNumber1 }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseType }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseDeposit | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leasePayWay }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.leaseMoney | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.maintenanceFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.parkingFee | intcomma }}</th>
														<td style="text-align:center; vertical-align:middle">{{ resident.surtax | intcomma }}</th>
													</tr>
												 </table>  
											</div>
										</div>
										<!-- 전체 임대 내역 -->
										<div class="row-fluid">
											<div class="box span12" style="margin: 5px 0px 5px 0px; padding: 0px">
												<div class="box-header">
													<div style="float:left; text-align:left">
														<h2><strong>전체 납부 내역</strong></h2>
													</div>
													<div style="text-align:right">
														<select id="leaseNumber_select_payment" class="margin0" style="width:120px">
														{% for elem in leaseNumberList %}
															<option value="{{ elem }}">임대 {{ elem }}회차</option>
														{% endfor %}
														</select>
														<button class="btn btn-small" onclick="getContentsPayment();">조회</button>
														<button class="btn btn-small" onclick="">초기화</button>
													</div>
												</div>
												<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<table class="table table-bordered table-condensed" style="margin: 0px">
														<tr>
															<th>
																<div style="float:left; text-align:left">
																	<span>납부 처리</span>
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="0" checked /></label>전체
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="1" /></label>선택
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="2" /></label>납부
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="3" /></label>미납
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="4" /></label>연체회수
																	<label style="display: inline-block"><input type="radio" name="radioN3" value="5" /></label>입금일
																</div>
																<div style="text-align:right">
																	<button class="btn btn-small btn-inverse" onclick="pagePrint('3');">출력</button>
																</div>
															</th>
														</tr>
													</table>
												</div>
												<div id="contents3" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
													<!-- ejs template으로 db내용을 불러온다. -->
												</div>
											</div>
										</div>
										<div class="row-fluid" style="text-align:center; margin-top:10px">
											<button class="btn btn-inverse" onclick="historyBack();">목록으로 가기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end: Content -->
		</div>
	</div>
	

	<input type="hidden" value="{{ csrf_token }}" />	
	<!-- 미리보기 (미리보기 버튼 눌렀을 때 보이는 큰 팝업창) -->
	<!--
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>임대 및 고지 상세 현황</h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
	-->
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/03_01_lease_notice_detail_show.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// tabmenu
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
				// tab 자동이동
				tabshow('{{ tab }}');

				// show sidebar
				show_sidebar();
                $("#side-datepicker").datepicker();
                $("#side-datepicker2").datepicker();
                $("#side-datepicker3").datepicker();

				
				setCurInfo('{{ resident.buildingRoomNumber }}', '{{ building_id }}', '{{ resident.id }}');
				// ejs template 불러오기
				getContentsLease();
				getContentsNotice();
				getContentsPayment();

				// radio btn 클릭 시 동작 (tab2)
				$('input[name=radioN2]').change(function() {
					changeRadio(Number($(this).val()), Number(2));
				});
				// radio btn 클릭 시 동작 (tab3)
				$('input[name=radioN3]').change(function() {
					changeRadio(Number($(this).val()), Number(3));
				});
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
