<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
		table-layout: fixed;
		text-align : center;
    }
    table th, table td {
		overflow: hidden;
		text-align : center;
	}
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#inputHistoryModal {
		top : 20%;
		width : 80%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 10%;
		height: 60%;
	}
	.fontmini {
		text-align : center;
		font-size : 0.9em !important;
		font-family : 'Malgun Gothic' !important;
	}

	</style>
		
</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="Optimus Dashboard" src="{{ STATIC_URL }}bootstrap/img/logo20.png" /> <span>Optimus Dashboard</span></a>
								
				<!-- start: Header Menu -->
				<div class="btn-group pull-right" >
					<a class="btn" href="#">
						<i class="icon-warning-sign"></i><span class="hidden-phone hidden-tablet"> notifications</span> <span class="label label-important hidden-phone">2</span> <span class="label label-success hidden-phone">11</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-tasks"></i><span class="hidden-phone hidden-tablet"> tasks</span> <span class="label label-warning hidden-phone">17</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-envelope"></i><span class="hidden-phone hidden-tablet"> messages</span> <span class="label label-success hidden-phone">9</span>
					</a>
					<a class="btn" href="#">
						<i class="icon-wrench"></i><span class="hidden-phone hidden-tablet"> settings</span>
					</a>
					<!-- start: User Dropdown -->
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone hidden-tablet"> admin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
					<!-- end: User Dropdown -->
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	
	<div id="under-header">
	</div>
	<!-- start: Header -->
	
	<div class="container-fluid">
		<div class="row-fluid">
						
			<!-- Sidebar -->
			<div id="sidebar">
			</div>
			<!-- end: Sidebar -->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span10">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">상세 고지 사항 입력</a>
						</li>
					</ul>
				</div>
				
				<!-- 탭 내용 및 상세 화면 -->
				<div class="row-fluid">
					<div class="span11" style="margin:0px">
						<div class="box-content">
							<ul class="nav nav-tabs" id="tabmenu" style="margin-bottom:10px">
								<li class="active"><a href="#noticeDetailInput_tab">1. 상세 고지 내역 입력</a></li>
								<li><a href="#noticeDetailCheck_tab">2. 고지 상세 내역 확인</a></li>
							</ul>
							<div id="mytabcontent" class="tab-content">
								<!-- 1. 상세 고지 내역 입력 -->
								<div class="tab-pane active" id="noticeDetailInput_tab">
									<div class="row-fluid">
										<!-- 임대 내역 정보 -->
										<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="margin-right:5px">
													<h2><strong>임대 내역 정보</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<colgroup>
														<col width="6%">
														<col width="3%">
														<col width="4%">
														<col width="4%">
														<col width="9%">
														<col width="9%">
														<col width="11%">
														<col width="10%">
														<col width="4%">
														<col width="10%">
														<col width="4%">
														<col width="8%">
														<col width="6%">
														<col width="6%">
														<col width="6%">
													</colgroup>
													<tr style="background-color:#dbdbd2">
														<td colspan="8">
															<div style="font-size:0.8em">건물명/호수</div>
															<div><h3><font style="color:red">No.{{ building_id }} {{ building_name }} / {{ resident.buildingRoomNumber }}호</font></h3></div>
														</td>
														<td colspan="5">
															<div style="font-size:0.8em">보증금/월세</div>
															<div><h3><font style="color:red">{{ simpleLeaseDeposit }}/{{ simpleLeaseMoney }}만원</font></h3></div>
														</td>
														<td colspan="3">
															<div style="font-size:0.8em">계약 평수</div>
															<div><h3><font style="color:red"></font></h3></div>
														</td>
													</tr>
													<tr>
														<th colspan="2" style="text-align:center">입주자</th>
														<th colspan="2" style="text-align:center">임대회차</th>
														<th style="text-align:center">계약일</th>
														<th style="text-align:center">만료일</th>
														<th style="text-align:center">재실여부</th>
														<th style="text-align:center">연락처</th>
														<th colspan="2" style="text-align:center">보증금</th>
														<th colspan="2" style="text-align:center">임대료</th>
														<th style="text-align:center">관리비</th>
														<th style="text-align:center">주차비</th>
														<th style="text-align:center">부가세</th>
													</tr>
													<tr>
														<td style="text-align:center">{{ resident.contractorName }}</td>
														<td style="text-align:center">{{ resident.contractorGender }}</td>
														<td style="text-align:center">{{ resident.leaseNumber }}회</td>
														<td style="text-align:center">{{ resident.leaseContractPeriod }}{{ resident.leaseContractPeriodUnit }}</td>
														<td style="text-align:center">{{ resident.inDate }}</td>
														<td style="text-align:center">{{ resident.outDate }}</td>
														<td style="text-align:center">-</td>
														<td style="text-align:center">{{ resident.contractorContactNumber1 }}</td>
														<td style="text-align:center">{{ resident.leaseType }}</td>
														<td style="text-align:center">{{ resident.leaseDeposit }}</td>
														<td style="text-align:center">{{ resident.leasePayWay }}</td>
														<td style="text-align:center">{{ resident.leaseMoney }}</td>
														<td style="text-align:center">{{ resident.maintenanceFee }}</td>
														<td style="text-align:center">{{ resident.parkingFee }}</td>
														<td style="text-align:center">{{ resident.surtax }}</td>
													</tr>
												 </table>  
											</div>
										</div>
										<!-- 고지 내역 입력 -->
										<div class="box span12" style="margin:5px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="float:left; text-align:left">
													<h2><strong>고지 내역 입력</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<tr style="background-color:#dbdbd2">
														<td colspan="19">
															<input class="margin0" type="text" style="text-align:center; width:70px" value="{{ yymm }}" disabled />
															<input class="margin0" type="text" style="text-align:center; width:70px" value="{{ noticeNumber }}회차" disabled />
														</td>
													</tr>
													<tr>
														<th rowspan="2" colspan="2" style="text-align:center; vertical-align:center">입력수정</th>
														<th colspan="4" style="text-align:center; vertical-align:center">임대료 및 관리비</th>
														<th colspan="3" style="text-align:center; vertical-align:center">공과금</th>
														<th rowspan="2" style="text-align:center; vertical-align:center">미납액<a href="#" title="미납 금액은 이전 달에 미납 처리 입력 후, 다음달 고지입력으로 넘어오게 됩니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
														<th colspan="2" style="text-align:center; vertical-align:center">연체료</th>
														<th rowspan="2" style="text-align:center; vertical-align:center">기타금액</th>
														<th rowspan="2" style="text-align:center; vertical-align:center">변동금액</th>
														<th rowspan="2" style="text-align:center; vertical-align:center">합계금액</th>
														<th colspan="2" style="text-align:center; vertical-align:center">고지처리사항<a href="#" title="고지 확인이 안 된 경우, 고지일 표시가 되지 않습니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
														<th rowspan="2" style="text-align:center; vertical-align:center">처리상태</th>
														<th rowspan="2" style="text-align:center; vertical-align:center">변동사항입력</th>
													</tr>
													<tr>
														<th style="text-align:center; vertical-align:center">임대료</th>
														<th style="text-align:center; vertical-align:center">관리비</th>
														<th style="text-align:center; vertical-align:center">부가세</th>
														<th style="text-align:center; vertical-align:center">주차비</th>
														<th style="text-align:center; vertical-align:center">전기</th>
														<th style="text-align:center; vertical-align:center">수도</th>
														<th style="text-align:center; vertical-align:center">가스</th>
														<th style="text-align:center; vertical-align:center">연체료</th>
														<th style="text-align:center; vertical-align:center">회차</th>
														<th style="text-align:center; vertical-align:center">입력일</th>
														<th style="text-align:center; vertical-align:center">고지일</th>
													</tr>
													{% for e in list %}
													<tr>
														<td style="text-align:center; vertical-align:middle">수정</td>
														<td style="text-align:center; vertical-align:middle">{{ e.modifyNumber }}회</td>
														<td style="text-align:center; vertical-align:middle">{{ e.leaseMoney }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.maintenanceFee }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.surtax }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.parkingFee }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.electricityFee }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.waterFee }}</td>
														<td style="text-align:center; vertical-align:middle">{{ e.gasFee }}</td>
														<td style="text-align:center; vertical-align:middle"></td>
														<td style="text-align:center; vertical-align:middle"></td>
														<td style="text-align:center; vertical-align:middle"></td>
														<td style="text-align:center; vertical-align:middle">{{ e.etcFee }}</td>
														<td style="text-align:center; vertical-align:middle"><font style="color:red">{{ e.changedFee }}</font></td>
														<td style="text-align:center; vertical-align:middle">{{ e.totalFee }}</td>
														<td style="text-align:center; vertical-align:middle"><font style="color:blue">{{ e.inputDate }}</font></td>
														<td style="text-align:center; vertical-align:middle"><font style="color:red">{{ e.noticeDate }}</font></td>
														<td style="text-align:center; vertical-align:middle">{% if e.status == 1 %}처리{% else %}미처리{% endif %}</td>
														<td style="text-align:center; vertical-align:middle"><button class="btn btn-small" onclick="showModifyForm();" {% if e.modifyNumber != maxModifyNumber %}disabled{% endif %}>입력</button></td>
													</tr>
													{% endfor %}
												 </table>  
											</div>
										</div>
										<!-- 상세 고지 내역 입력 -->
										<div class="row-fluid">
											<div class="box span12" style="margin: 5px 0px 5px 0px; padding: 0px">
												<div class="box-header">
													<div style="float:left; text-align:left">
														<h2><strong>상세 고지 내역 입력</strong></h2>
													</div>
												</div>
												<div class="box-content" style="margin: 0px; padding: 3px; border:1; background-color:#f8f8f8">
													<div id="detail_input_closed">변동 사항 입력 버튼을 누르면 서식이 나타납니다.</div>
													<table id="detail_input_show" class="table table-bordered table-condensed" style="margin-bottom:0px; display:none">
														<colgroup>
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
															<col width="5%">
														</colgroup>
														<tr>
															<th rowspan="2" colspan="2" style="text-align:center; vertical-align:middle">입력수정</th>
															<th colspan="4" style="text-align:center; vertical-align:middle">임대료 및 관리비</th>
															<th colspan="3" style="text-align:center; vertical-align:middle">공과금</th>
															<th rowspan="2" style="text-align:center; vertical-align:middle">미납액<a href="#" title="미납 금액은 이전 달에 미납 처리 입력 후, 다음달 고지입력으로 넘어오게 됩니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
															<th colspan="2" style="text-align:center; vertical-align:middle">연체료</th>
															<th rowspan="2" style="text-align:center; vertical-align:middle">기타금액</th>
															<th rowspan="2" style="text-align:center; vertical-align:middle">변동금액</th>
															<th rowspan="2" style="text-align:center; vertical-align:middle">합계금액</th>
															<th rowspan="2" style="text-align:center; vertical-align:middle">고지내역입력일</th>
														</tr>
														<tr>
															<th style="text-align:center; vertical-align:middle">임대료</th>
															<th style="text-align:center; vertical-align:middle">관리비</th>
															<th style="text-align:center; vertical-align:middle">부가세</th>
															<th style="text-align:center; vertical-align:middle">주차비</th>
															<th style="text-align:center; vertical-align:middle">전기</th>
															<th style="text-align:center; vertical-align:middle">수도</th>
															<th style="text-align:center; vertical-align:middle">가스</th>
															<th style="text-align:center; vertical-align:middle">연체료</th>
															<th style="text-align:center; vertical-align:middle">회차</th>
														</tr>
														<tr>
															<td style="text-align:center; vertical-align:middle">수정</td>
															<td style="text-align:center; vertical-align:middle">{{ list_last.modifyNumber }}회</td>
															<td style="text-align:center; vertical-align:middle"><div id="before0">{{ list_last.leaseMoney }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before1">{{ list_last.maintenanceFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before2">{{ list_last.surtax }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before3">{{ list_last.parkingFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before4">{{ list_last.electricityFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before5">{{ list_last.waterFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before6">{{ list_last.gasFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before7"></div></td>
															<td style="text-align:center; vertical-align:middle"><div id="before8"></div></td>
															<td style="text-align:center; vertical-align:middle">회</td>
															<td style="text-align:center; vertical-align:middle"><div id="before9">{{ list_last.etcFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"></td>
															<td style="text-align:center; vertical-align:middle">{{ list_last.totalFee }}</td>
															<td style="text-align:center; vertical-align:middle" rowspan="2">
																<input id="em_id" type="hidden" value="{{ list_last.eachMonth.id }}" />
															</td>
														</tr>
														<tr>
															<td colspan="2" style="text-align:center; vertical-align:center">입력 <i class="icon-play"></i></td>
															<td><input id="c0" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c1" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c2" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c3" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c4" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c5" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c6" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td><input id="c7" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" disabled /></td>
															<td><input id="c8" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" disabled /></td>
															<td style="text-align:center; vertical-align:middle">회</td>
															<td><input id="c9" type="text" class="margin0 span12 fontmini" value="0" style="font-color:red" /></td>
															<td style="text-align:center; vertical-align:middle"><font style="color:red"><div id="changeFee">0</div></font></td>
															<td></td>
														</tr>
														<tr>
															<td style="text-align:center; vertical-align:middle">수정</td>
															<td style="text-align:center; vertical-align:middle"><div id="nextModifyNumber">{{ list_last.nextModifyNumber }}회</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after0">{{ list_last.leaseMoney }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after1">{{ list_last.maintenanceFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after2">{{ list_last.surtax }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after3">{{ list_last.parkingFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after4">{{ list_last.electricityFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after5">{{ list_last.waterFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after6">{{ list_last.gasFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after7"></div></td>
															<td style="text-align:center; vertical-align:middle"><div id="after8"></div></td>
															<td style="text-align:center; vertical-align:middle">회</td>
															<td style="text-align:center; vertical-align:middle"><div id="after9">{{ list_last.etcFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"></td>
															<td style="text-align:center; vertical-align:middle"><div id="afterTotalFee">{{ list_last.totalFee }}</div></td>
															<td style="text-align:center; vertical-align:middle"><input id="modifyDate" type="text" class="margin0 datepicker span12 fontmini" /></td>
														</tr>
														<tr>
															<td style="text-align:center; vertical-align:middle" colspan="3">수정 사유</td>
															<td colspan="13"><input id="modifyMsg" type="text" class="margin0 span12" placeholder="(예) 관리비 상승으로 10,000원 추가됨" /></td>
														</tr>
														<tr>
															<td colspan="16" style="text-align:center">
																<button class="btn" onclick="saveChangedInfo();">저  장</button>
															</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
										<!-- 수정 처리 사유 보기 -->
										<div class="row-fluid">
											<div class="box span12" style="margin: 5px 0px 5px 0px; padding: 0px">
												<div class="box-header">
													<div style="float:left; text-align:left">
														<h2><strong>수정 처리 사유 보기</strong></h2>
													</div>
												</div>
												<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
													<table class="table table-bordered table-condensed" style="margin-bottom:0px">
														<tr>
															<th style="text-align:center" width="5%">NO.</th>
															<th style="text-align:center" width="10%">년/월</th>
															<th style="text-align:center" width="10%">항목</th>
															<th style="text-align:center" width="65%">내용</th>
															<th style="text-align:center" width="10%">시간</th>
														</tr>
														{% for e in list %}
														<tr>
															<td style="text-align:center">{{ e.modifyNumber }}</td>
															<td style="text-align:center">{{ e.year }}.{{ e.month }}</td>
															<td style="text-align:center">{{ e.modifyNumber }}</td>
															<td style="text-align:center">{{ e.msg }}</td>
															<td style="text-align:center">{{ e.changeDate }}</td>
														</tr>
														{% endfor %}
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- 2. 고지 상세 내역 확인 -->
								<div class="tab-pane" id="noticeDetailCheck_tab">
									<div class="row-fluid">
										<!-- 임대 내역 정보 -->
										<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
											<div class="box-header">
												<div style="margin-right:5px">
													<h2><strong>임대 내역 정보</strong></h2>
												</div>
											</div>
											<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<colgroup>
														<col width="6%">
														<col width="3%">
														<col width="4%">
														<col width="4%">
														<col width="9%">
														<col width="9%">
														<col width="11%">
														<col width="10%">
														<col width="4%">
														<col width="10%">
														<col width="4%">
														<col width="8%">
														<col width="6%">
														<col width="6%">
														<col width="6%">
													</colgroup>
													<tr style="background-color:#dbdbd2">
														<td colspan="8">
															<div style="font-size:0.8em">건물명/호수</div>
															<div><h3><font style="color:red">No.{{ building_id }} {{ building_name }} / {{ resident.buildingRoomNumber }}호</font></h3></div>
														</td>
														<td colspan="5">
															<div style="font-size:0.8em">보증금/월세</div>
															<div><h3><font style="color:red">{{ simpleLeaseDeposit }}/{{ simpleLeaseMoney }}만원</font></h3></div>
														</td>
														<td colspan="3">
															<div style="font-size:0.8em">계약 평수</div>
															<div><h3><font style="color:red"></font></h3></div>
														</td>
													</tr>
													<tr>
														<th colspan="2" style="text-align:center">입주자</th>
														<th colspan="2" style="text-align:center">임대회차</th>
														<th style="text-align:center">계약일</th>
														<th style="text-align:center">만료일</th>
														<th style="text-align:center">재실여부</th>
														<th style="text-align:center">연락처</th>
														<th colspan="2" style="text-align:center">보증금</th>
														<th colspan="2" style="text-align:center">임대료</th>
														<th style="text-align:center">관리비</th>
														<th style="text-align:center">주차비</th>
														<th style="text-align:center">부가세</th>
													</tr>
													<tr>
														<td style="text-align:center">{{ resident.contractorName }}</td>
														<td style="text-align:center">{{ resident.contractorGender }}</td>
														<td style="text-align:center">{{ resident.leaseNumber }}회</td>
														<td style="text-align:center">{{ resident.leaseContractPeriod }}{{ resident.leaseContractPeriodUnit }}</td>
														<td style="text-align:center">{{ resident.inDate }}</td>
														<td style="text-align:center">{{ resident.outDate }}</td>
														<td style="text-align:center">-</td>
														<td style="text-align:center">{{ resident.contractorContactNumber1 }}</td>
														<td style="text-align:center">{{ resident.leaseType }}</td>
														<td style="text-align:center">{{ resident.leaseDeposit }}</td>
														<td style="text-align:center">{{ resident.leasePayWay }}</td>
														<td style="text-align:center">{{ resident.leaseMoney }}</td>
														<td style="text-align:center">{{ resident.maintenanceFee }}</td>
														<td style="text-align:center">{{ resident.parkingFee }}</td>
														<td style="text-align:center">{{ resident.surtax }}</td>
													</tr>
												 </table>  
											</div>
										</div>
									</div>
									<!-- 전체 고지 내역-->
									<div class="row-fluid">
										<div class="box span12" style="margin: 0px; padding: 0px">
											<div class="box-header">
												<div style="float:left; text-align:left">
													<h2><strong>전체 고지 내역</strong></h2>
												</div>
												<div style="text-align:right">
													<select id="leaseNumber" class="margin0" style="width:120px">
														<option value="1">임대 1회차</option>
														<option value="2">임대 2회차</option>
														<option value="3">임대 3회차</option>
													</select>
													<button class="btn btn-small" onclick="searchBill();">조회</button>
													<button class="btn btn-small" onclick="">초기화</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 내역 현황 라디오 선택 -->
									<div class="row-fluid">
										<div class="box span12" style="margin: 0px; padding: 0px">
											<div class="box-content" style="margin: 0px; padding: 3px; border:1; background-color:#f8f8f8">
												<strong>내역 현황</strong>
												<label style="display:inline-block; font-size:0.95em"><input type="radio" name="handle" value="" checked />전체 내역</label>
												<label style="display:inline-block; font-size:0.95em"><input type="radio" name="handle" value="" />선택 내역</label>
												<label style="display:inline-block; font-size:0.95em"><input type="radio" name="handle" value="" />고지서(전체)</label>
												<label style="display:inline-block; font-size:0.95em"><input type="radio" name="handle" value="" />고지서(선택)</label>
												<div style="text-align:right; float:right">
													<button class="btn btn-small btn-inverse">출력</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 실제 내용 list -->
									<div class="row-fluid">
										<div class="box span12" style="margin: 0px; padding: 0px">
											<div id="content_bill" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
												<table class="table table-bordered table-condensed" style="margin-bottom:0px">
													<tr>
														<th rowspan="2" style="text-align:center">선택</th>
														<th rowspan="2" style="text-align:center">년도/월</th>
														<th rowspan="2" style="text-align:center">고지회차</th>
														<th rowspan="2" style="text-align:center">최종고지일</th>
														<th colspan="4" style="text-align:center">임대료 및 관리비</th>
														<th colspan="3" style="text-align:center">공과금</th>
														<th colspan="3" style="text-align:center">연체료</th>
														<th rowspan="2" style="text-align:center">기타금액</th>
														<th rowspan="2" style="text-align:center">변동금액</th>
														<th rowspan="2" style="text-align:center">합계금액</th>
														<th rowspan="2" style="text-align:center">고지서확인</th>
														<th rowspan="2" style="text-align:center">입력내역보기</th>
													</tr>
													<tr>
														<th style="text-align:center">임대료</th>
														<th style="text-align:center">관리비</th>
														<th style="text-align:center">부가세</th>
														<th style="text-align:center">주차비</th>
														<th style="text-align:center">전기</th>
														<th style="text-align:center">수도</th>
														<th style="text-align:center">가스</th>
														<th style="text-align:center">미납금</th>
														<th style="text-align:center">연체료</th>
														<th style="text-align:center">회차</th>
													</tr>
													{% for e in eachMonth %}
													<tr>
														<td style="text-align:center"><input type="checkbox" /></td>
														<td style="text-align:center">{{ e.year }}.{{ e.month }}</td>
														<td style="text-align:center">{{ e.noticeNumber }}</td>
														<td style="text-align:center">{{ e.noticeDate }}</td>
														<td style="text-align:center">{{ e.leaseMoney }}</td>
														<td style="text-align:center">{{ e.maintenanceFee }}</td>
														<td style="text-align:center">{{ e.surtax }}</td>
														<td style="text-align:center">{{ e.parkingFee }}</td>
														<td style="text-align:center">{{ e.electricityFee }}</td>
														<td style="text-align:center">{{ e.waterFee }}</td>
														<td style="text-align:center">{{ e.gasFee }}</td>
														<td style="text-align:center"></td>
														<td style="text-align:center"></td>
														<td style="text-align:center"></td>
														<td style="text-align:center">{{ e.etcFee }}</td>
														<td style="text-align:center"><font style="color:red">{{ e.changedFee }}</font></td>
														<td style="text-align:center">{{ e.totalFee }}</td>
														<td style="text-align:center"><button class="btn btn-mini" onclick="showBillModal();" disabled>확인</button></td>
														<td style="text-align:center"><button class="btn btn-mini" onclick="showInputHistoryModal('{{ e.id }}');">확인</button></td>
													</tr>
													{% endfor %}
												 </table>  
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	<input type="hidden" value="{{ csrf_token }}" />	
	<!-- 미리보기 (미리보기 버튼 눌렀을 때 보이는 큰 팝업창) -->
	<div class="modal hide fade" id="inputHistoryModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>입력 내역 보기</h3>
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<!--
				<table class="table table-bordered table-condensed" style="margin-bottom:5px;">
					<tr>
						<th style="background-color:#dbdbd2; text-align:center">납부대상</th>
						<td style="text-align:center">103</td>
						<td style="text-align:center">김호근</td>
						<th style="background-color:#dbdbd2; text-align:center">년도/월</th>
						<td style="text-align:center">2014.2</td>
						<td style="text-align:center">10회차</td>
						<th style="background-color:#dbdbd2; text-align:center">금액</th>
						<td style="text-align:center">450000</td>
						<td style="text-align:center">2014.2.28</td>
						<th style="background-color:#dbdbd2; text-align:center">입력일</th>
						<td style="text-align:center">2014.2.28</td>
						<th style="background-color:#dbdbd2; text-align:center">고지일</th>
						<td style="text-align:center">2014.3.1</td>
					</tr>
				</table>
				<table class="table table-bordered table-condensed" style="margin-bottom:0px">
					<tr>
						<th style="text-align:center" colspan="2" rowspan="2">입력수정</th>
						<th style="text-align:center" colspan="4">임대료 및 관리비</th>
						<th style="text-align:center" colspan="3">공과금</th>
						<th style="text-align:center" rowspan="2">미납액<a href="#" title="미납 금액은 이전 달에 미납 처리 입력 후, 다음달 고지입력으로 넘어오게 됩니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
						<th style="text-align:center" colspan="2">연체료</th>
						<th style="text-align:center" rowspan="2">기타금액</th>
						<th style="text-align:center" rowspan="2">변동금액</th>
						<th style="text-align:center" rowspan="2">합계금액</th>
						<th style="text-align:center" colspan="2">고지처리사항<a href="#" title="고지 확인이 안 된 경우, 고지일 표시가 되지 않습니다." date-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a></th>
						<th style="text-align:center" rowspan="2">처리상태</th>
					</tr>
					<tr>
						<th style="text-align:center">임대료</th>
						<th style="text-align:center">관리비</th>
						<th style="text-align:center">부가세</th>
						<th style="text-align:center">주차비</th>
						<th style="text-align:center">전기</th>
						<th style="text-align:center">수도</th>
						<th style="text-align:center">가스</th>
						<th style="text-align:center">연체료</th>
						<th style="text-align:center">회차</th>
						<th style="text-align:center">입력일</th>
						<th style="text-align:center">고지일</th>
					</tr>

					<tr>
						<td style="text-align:center">수정</td>
						<td style="text-align:center">1회</td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"><font style="color:red">10000</font></td>
						<td style="text-align:center"></td>
						<td style="text-align:center"><font style="color:blue">2014.2.28</font></td>
						<td style="text-align:center"><font style="color:red">2014.3.1</font></td>
						<td>미처리</td>
					</tr>
				</table>  
				-->
			</div>
		</div>
	</div>


	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/03_02_notice_detail_input.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// tabmenu
					$('#tabmenu li:eq({{ tab }}) a').tab('show');
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});

				// show sidebar
				show_sidebar();

				$('#modifyDate').change(function() {
					var mdy = $(this).val().split('/');
					$(this).val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
				});

				// ejs template 불러오기
				getContents();
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
