<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#myModal {
		top : 10%;
		width : 80%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 10%;
	}
	@page { size: landscape; }
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="lease" %}
    <!-- end:Header --!>
	<div class="container-fluid">
		<div class="row-fluid">
        <div class="span3" style="width:250px">
          {% include "sidebar.html" with side_menu="department" %}
        </div><!--/span-->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span9">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">임대 비용 입력</a>
						</li>
					</ul>
				</div>
				
				<!-- 검색 필터링 -->
				<div id="filter-menu" class="row-fluid">
					<div class="span11">
						<table class="table table-condensed" style="margin-bottom:0px">
							<tr>
								<td width="17%">
									<div style="margin-right:5px; float:left">내역 분류</div>
									<select id="search_type" class="margin0" style="width:100px">
										<option value="0">입력 현황</option>
										<option value="1">고지 현황</option>
										<option value="2">전기 요금</option>
										<option value="3" selected>가스 요금</option>
										<option value="4">수도 요금</option>
									</select>
								</td>
								<td width="17%">
									<div style="margin-right:5px; float:left">건물명</div>
									<select id="search_building" class="margin0" style="width:120px">
										{% for b in building_name_id %}
										<option value="b{{ b.id }}" {% if search_building_id == b.id %}selected{% endif %}>{{ b.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td width="18%">
									<div style="margin-right:5px; float:left">내역일</div>
									<select id="search_year" class="margin0" style="width:70px">
										<option value="">년도</option>
										{% for y in search_year_list %}
										<option value="{{ y }}" {% if y == search_year %}selected{% endif %}>{{ y }}</option>
										{% endfor %}
									</select>
									<select id="search_month" class="margin0" style="width:55px">
										<option value="">월</option>
										{% for m in search_month_list %}
										<option value="{{ m }}" {% if m == search_month %}selected{% endif %}>{% if m < 10 %}0{% endif %}{{ m }}</option>
										{% endfor %}
									</select>
								</td>
								<td width="13%">
									<div style="margin-right:5px; float:left">호수</div>
									<select id="search_room_num" class="margin0" style="width:70px">
										<option value="">전체</option>
									</select>
								</td>
								<td width="10%">
									<div style="margin-right:5px; float:left">공실여부</div>
									<input id="search_isEmpty" type="checkbox" {% if search_is_empty == 'true' %}checked="checked"{% endif %}>
								</td>
								<td width="14%">
									<div>
										<button class="btn btn-small" onclick="showLeaseInfo(false);">조회</button>
										<button class="btn btn-small" onclick="InitForm();">초기화</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<!-- 임대 비용(가스 요금) 입력 -->
				<div class="row-fluid">
					<div class="box span11" style="margin:0px 0px 5px 0px; padding: 0px">
						<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed" style="margin-bottom:0px">
								<colgroup>
									<col width="10%">
									<col width="10%">
									<col width="8%">
									<col width="10%">
									<col width="10%">
									<col width="12%">
									<col width="10%">
									<col width="6%">
									<col width="6%">
									<col width="6%">
									<col width="6%">
									<col width="6%">
								</colgroup>
								<tr style="background-color:#dbdbd2">
									<td colspan="7">
										<div style="font-size:0.8em">건물명/기간</div>
										<div><h3>No.{{ cur_building_number }} {{ cur_building_name }} / <font style="color:red">{{ search_year }}.{{ search_month }}</font> / <font style="color:red">가스 요금</font></h3></div>
									</td>
									<td colspan="5">
										<div style="font-size:0.8em">재실 현황</div>
										<div><h3>총 <font style="color:red">{{ num_of_rooms }}</font>실, 재실 <font style="color:red">{{num_of_occ_rooms}}</font>실</h3></div>
									</td>
								</tr>
								<tr>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center"></th>
									<th style="text-align:center">전체</th>
									<th style="text-align:center">입주</th>
									<th style="text-align:center">전세</th>
									<th style="text-align:center">월세</th>
									<th style="text-align:center">공실</th>
								</tr>
								<tr>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center"></td>
									<td style="text-align:center">{{ num_of_rooms }}</td>
									<td style="text-align:center">{{ num_of_occ_rooms}} </td>
									<td style="text-align:center">{{ num_of_jeon_rooms }}</td>
									<td style="text-align:center">{{ num_of_woel_rooms }}</td>
									<td style="text-align:center">{{ num_of_empty_rooms }}</td>
								</tr>
							 </table>  
						</div>
					</div>
				</div>

				<!-- 가스요금 파일 업로드-->
				<div class="row-fluid">
					<div class="box span11" style="margin:0px 0px 5px 0px; padding: 0px">
						<div class="box-header">
							<h2><strong>가스요금 파일 업로드</strong></h2>
						</div>
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed" style="margin-bottom:0px">
								<tr>
									<td width="10%" style="vertical-align:middle">업로드 확인</td>
									<td width="23%">
										<div>
											업로드 날짜
											<input id="uploadDate" type="text" class="margin0 input-small datepicker" placeholder="날짜를 입력하세요." value="{{ excel_uploadDate }}" />
											<a href="#" title="파일을 업로드하는 날짜를 선택하세요." data-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a>
										</div>
									</td>
									<td width="55%">
										<div>
											<input id="fileInput" type="file" name="file" style="display:none" />
											<button class="btn btn-danger btn-small" onclick="$('input[id=fileInput]').click();">파일첨부</button>
											<input id="filename" type="text" class="span7 margin0" placeholder="파일명" value="{{ excel_filename }}" disabled />
											<input id="file_id" type="hidden" value="{{ excel_id }}" />
											<button class="btn btn-small" onclick="deleteExcelFile(false);">삭제</button>
											<button class="btn btn-small" onclick="saveExcelFile(false);">저장</button>
										</div>
									</td>
									<td width="5%" style="vertical-align:middle">이력</td>
									<td width="7%"><button class="btn btn-small" onclick="">보기</button>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!-- 전체 가스 요금 내역 -->
				<div class="row-fluid">
					<div class="box span11" style="margin: 0px; padding: 0px">
						<div class="box-header">
							<div style="float:left; text-align:left">
								<h2><strong>전체 가스 요금 내역</strong></h2>
							</div>
							<div style="text-align:right">
								<strong>층별 보기</strong>
								<select id="filter_floor" class="margin0" style="width:70px" onChange="filterFloor($(this).val());">
									<option value="">전체</option>
								</select>
								<button class="btn btn-danger btn-small btn-setting">미리보기</button>
								<button class="btn btn-inverse btn-small" onclick="pagePrint();">출력</button>
							</div>
						</div>
						<div id="contents" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
							<!-- ejs template으로 db내용을 불러온다. -->
						</div>
					</div>
				</div>

			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	
	<input type="hidden" value="{{ csrf_token }}" />	
	<!-- 미리보기 (미리보기 버튼 눌렀을 때 보이는 큰 팝업창) -->
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>임대 비용(가스 요금)확인</h3>
		</div>
		<div class="modal-body">
			<div class="row-fluid">
				<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
					<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
						<table class="table table-bordered table-condensed" style="margin-bottom:0px">
							<colgroup>
								<col width="10%">
								<col width="10%">
								<col width="8%">
								<col width="10%">
								<col width="10%">
								<col width="12%">
								<col width="10%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
								<col width="6%">
							</colgroup>
							<tr style="background-color:#dbdbd2">
								<td colspan="7">
									<div style="font-size:0.8em">건물명/기간</div>
									<div><h3>No.{{ search_building_id }} {{ cur_building_name }} / <font style="color:red">{{ search_year }}.{{ search_month }}</font> / <font style="color:red">가스 요금</font></h3></div>
								</td>
								<td colspan="5">
									<div style="font-size:0.8em">재실 현황</div>
									<div><h3>총 62실, 재실 20실</h3></div>
								</td>
							</tr>
							<tr>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center"></th>
								<th style="text-align:center">전체</th>
								<th style="text-align:center">입주</th>
								<th style="text-align:center">전세</th>
								<th style="text-align:center">월세</th>
								<th style="text-align:center">공실</th>
							</tr>
							<tr>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center"></td>
								<td style="text-align:center">62</td>
								<td style="text-align:center">20</td>
								<td style="text-align:center">10</td>
								<td style="text-align:center">10</td>
								<td style="text-align:center">42</td>
							</tr>
						</table>  
					</div>
				</div>
			</div>

			<!-- 가스요금 파일 업로드-->
			<div class="row-fluid">
				<div class="box span12" style="margin:0px 0px 5px 0px; padding: 0px">
					<div class="box-header">
						<h2><strong>가스요금 파일 업로드</strong></h2>
					</div>
					<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
						<table class="table table-bordered table-condensed" style="margin-bottom:0px">
							<tr>
								<td width="23%">
									<div>
										업로드 날짜
										<input id="uploadDate_modal" type="text" class="margin0 input-small datepicker" placeholder="날짜를 입력하세요." value="{{ excel_uploadDate }}" />
										<a href="#" title="파일을 업로드하는 날짜를 선택하세요." data-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a>
									</div>
								</td>
								<td width="77%">
									<div>
										<input id="fileInput_modal" type="file" name="file" style="display:none" />
										<button class="btn btn-danger btn-small" onclick="$('input[id=fileInput]').click();">파일첨부</button>
										<input id="filename_modal" type="text" class="span9 margin0" placeholder="파일명" value="{{ excel_filename }}" disabled />
										<button class="btn btn-small" onclick="deleteExcelFile(false);">삭제</button>
										<button class="btn btn-small" onclick="saveExcelFile(false);">저장</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- 전체 가스 요금 내역 -->
			<div class="row-fluid">
				<div class="box span12" style="margin: 0px; padding: 0px">
					<div class="box-header">
						<div style="float:left; text-align:left">
							<h2><strong>전체 가스 요금 내역</strong></h2>
						</div>
						<div style="text-align:right">
							<button class="btn btn-small btn-inverse" onclick="pagePrint();">출력</button>
						</div>
					</div>
					<div id="contents_modal" class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
						<!-- ejs template으로 db내용을 불러온다. -->
					</div>
				</div>
			</div>
		</div>
		<!--<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">닫기</a>
		</div>-->
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.datepicker-ko.js"></script>

		<script src="{{ STATIC_URL }}js/03_02_gas_input.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script src="{{ STATIC_URL }}xls/jszip.js"></script>
		<script src="{{ STATIC_URL }}xls/xlsx.js"></script>
		<script src="{{ STATIC_URL }}xls/xls.js"></script>
		<script src="{{ STATIC_URL }}xls/shim.js"></script>
		<script src="{{ STATIC_URL }}xls/xlsx_func.js"></script>
		<script src="{{ STATIC_URL }}xls/xls_func.js"></script>

		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// show sidebar
				show_sidebar();
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
                $("#side-datepicker").datepicker();
                $("#side-datepicker2").datepicker();
                $("#side-datepicker3").datepicker();

				// 건물을 하나 선택할 때, 그 건물에 속한 '호수' 전체 불러오기
				getBuildingRooms('b{{ search_building_id }}', 'search_room_num', '{{ search_room_num }}');
				$('#search_building').change(function() {
					getBuildingRooms($(this).val(), 'search_room_num');
				});
				
				// 업로드 날짜 datepicker
				$('#uploadDate').change(function() {
					var mdy = $('#uploadDate').val().split('-').join('.');
					$('#uploadDate').val(mdy);
					$('#uploadDate_modal').val(mdy);
				});
				$('#uploadDate_modal').change(function() {
					var mdy = $('#uploadDate_modal').val().split('-').join('.');
					$('#uploadDate').val(mdy);
					$('#uploadDate_modal').val(mdy);
				});

				setCurInfo();

				// ejs template 불러오기
				getContents('{{ search_room_num }}');

				// excel related func.
				setExcelInfo();
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
