<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#myModal {
		top : 10%;
		width : 80%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 10%;
	}
    .table-center td{
        text-align:center;
        vertical-align:middle;
    }
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="manage" %}
    <!-- end:Header --!>
	<div class="container-fluid">
        <div class="row-fluid">
        <div class="span3" style="width:250px">
          {% include "sidebar.html" %}
        </div><!--/span-->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span9">
				<div class="span11">
					<ul class="breadcrumb" style="margin: 5px 0px 5px 0px;">
						<li>
							<a href="#">관리자 시스템 > 시스템 설정</a>
						</li>
					</ul>
				</div>
					<div class="box span11" style="margin: 0px; padding: 0px">
						<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed" style="margin-bottom:0px">
								<tr>
									<td width="20%"><a href="/manage/activate/">1. 회원 승인 관리</a></td>
									<td width="20%"><a href="/manage/accountinfo/">2. 회원 정보 관리</a></td>
									<td width="20%"><a href="/manage/right/">3. 회원 권한 관리</a></td>
									<td width="20%" style="background-color:#dbdbd2"><a href="/manage/setting/department/">4. 시스템 설정</a></td>
									<td width="20%"></td>
								</tr>
							</table>
						</div>
					</div>


				<div class="row-fluid">
                    <div class="span11">
                        <div class="pull-right" style="margin:3px 0px 0px 0px;">
                            <strong>시스템 선택</strong>
    						<select id="changesystem" class="margin0" style="width:180px">
    							<option value="0" selected>1. 관리자 시스템</option>
    							<option value="1">2. 통합 내역 시스템</option>
    						</select>
                            <strong>세부 기능 선택</strong>
    						<select id="changepage" class="margin0" style="width:180px">
                                <option value="" disabled selected style="display:none;"></option>
    							<option value="department">1. 부서 생성</option>
    							<option value="position">2. 직급 생성</option>
    							<option value="companynum">3. 사번 설정</option>
    						</select>
                        </div>
                        <h3>시스템 목록 현황</h3>
                        <hr style="margin-top:10px;margin-bottom:10px;">
                    </div>
					<div class="box span11" style="margin:0px 0px 5px 0px; padding: 0px">
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed table-center" style="margin-bottom:0px;">
								<tr style="background:#d0d0d0;">
                                    <td width="5%"><input type="checkbox" disabled /></td>
									<td width="15%">시스템 설정 기능</td>
									<td width="15%">사번 범위</td>
									<td width="55%">사번 범위 변경</td>
									<td width="10%">설정하기</td>
								</tr>
								<tr>
                                    <td><input type="checkbox" disabled /></td>
									<td>사번 범위 설정</td>
									<td>현재 {{ min_number }} ~ {{ max_number }} 로 설정</td>
									<td>
                                        <input id="min_number" class="input_large" type="number" value="{{ min_number }}" placeholder="최소값"/> ~ 
                                        <input id="max_number" class="input_large" type="number" value="{{ max_number }}" placeholder="최대값"/>
                                    </td>
									<td><a class="btn btn-small" onclick="modify();">변경</a></td>
								</tr>
							</table>
						</div>
					</div>

				</div>

			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/04_04_setting_companynum.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// show sidebar
				show_sidebar();
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
                $("#side-datepicker").datepicker();
                $("#side-datepicker2").datepicker();
                $("#side-datepicker3").datepicker();
                $('#changesystem').change(function() {
                    var changepage = $('#changepage');
                    while(changepage.children().length > 0) {
                        $(changepage.children()[0]).remove();
                    }
                    if($(this).val() == 0) {
                        var option = document.createElement("option");
                        option.text = "";
                        option.value = "";
                        option.setAttribute('disabled', 'true');
                        option.setAttribute('selected', 'true');
                        option.style.display="none";
                        changepage.append(option);
                        var option = document.createElement("option");
                        option.text = "1. 부서 생성";
                        option.value = "department";
                        changepage.append(option);
                        option = document.createElement("option");
                        option.text = "2. 직급 생성";
                        option.value = "position";
                        changepage.append(option);
                        option = document.createElement("option");
                        option.text = "3. 사번 설정";
                        option.value = "companynum";
                        changepage.append(option);
                    }
					else if($(this).val() == 1) {
                        var option = document.createElement("option");
                        option.text = "";
                        option.value = "";
                        option.setAttribute('disabled', 'true');
                        option.setAttribute('selected', 'true');
                        option.style.display="none";
                        changepage.append(option);
                        option = document.createElement("option");
                        option.text = "1. 고지 내역 연체료";
                        option.value = "adjustment";
                        changepage.append(option);
                    }
                });
                $('#changepage').change(function() {
                    $(location).attr('href', '/manage/setting/' + $(this).val() + '/');
                });
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
