<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#myModal {
		top : 10%;
		width : 80%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 10%;
	}
    .table-center td{
        text-align:center;
        vertical-align:middle;
    }
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="manage" %}
    <!-- end:Header --!>
	<div class="container-fluid">
        <div class="row-fluid">
						
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">사이드바 영역</li>
                <p>사이드바 영역입니다.<br><br><br><br><br><br><br></p>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
				
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->	
			<div id="content" class="span10">
				<div class="span11">
					<ul class="breadcrumb">
						<li>
							<a href="#">관리자 지스템 > 회원 승인 관리</a>
						</li>
					</ul>
				</div>
					<div class="box span11" style="margin: 0px; padding: 0px">
						<div class="box-content" style="margin: 0px; padding: 0px; border: 0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed" style="margin-bottom:0px">
								<tr>
									<td width="20%"><a href="/manage/activate/">1. 회원 승인 관리</a></td>
									<td width="20%" style="background-color:#dbdbd2"><a href="/manage/accountinfo/">2. 회원 정보 관리</a></td>
									<td width="20%"><a href="#">3. 회원 권한 관리</a></td>
									<td width="20%"><a href="#">4. 시스템 설정</a></td>
									<td width="20%"></td>
								</tr>
							</table>
						</div>
					</div>


				<div class="row-fluid">
                    <div class="span11">
                        <span><h3>사원 목록 현황/주소록</h3></span>
                        <hr style="margin-top:10px;margin-bottom:10px;">
                    </div>
					<div class="box span11" style="margin:0px 0px 5px 0px; padding: 0px">
						<div class="box-header" style="padding:7px 10px 7px 10px;">
							<span><strong>전체 사원 현황</strong> <font color="red">4</font>건 (신규 회원 정보 <font color="red">4</font>건 / 중복 정보 <font color="red">0</font>건) 중 승인 가능한 회원 정보는 <font color="red">4</font>건 입니다.</span>
						</div>
                    </div>
					<div class="span11" style="margin:5px 0px 0px 0px; padding:0px">
						<span id="labelall" class="label label-inverse" onclick="filter('all');">전체</span>
						<span id="label0" class="label" onclick="filter('0');">ㄱ</span>
						<span id="label1" class="label" onclick="filter('1');">ㄴ</span>
						<span id="label2" class="label" onclick="filter('2');">ㄷ</span>
						<span id="label3" class="label" onclick="filter('3');">ㄹ</span>
						<span id="label4" class="label" onclick="filter('4');">ㅁ</span>
						<span id="label5" class="label" onclick="filter('5');">ㅂ</span>
						<span id="label6" class="label" onclick="filter('6');">ㅅ</span>
						<span id="label7" class="label" onclick="filter('7');">ㅇ</span>
						<span id="label8" class="label" onclick="filter('8');">ㅈ</span>
						<span id="label9" class="label" onclick="filter('9');">ㅊ</span>
						<span id="label10" class="label" onclick="filter('10');">ㅋ</span>
						<span id="label11" class="label" onclick="filter('11');">ㅌ</span>
						<span id="label12" class="label" onclick="filter('12');">ㅍ</span>
						<span id="label13" class="label" onclick="filter('13');">ㅎ</span>
						<span id="" class="label">기타</span>
						<span id="" class="label">재직</span>
						<span id="" class="label">퇴사</span>
					</div>
					<div class="box span11" style="margin:0px 0px 5px 0px; padding: 0px">
						<div class="box-content" style="margin: 0px; padding: 0px; border:0; background-color:#f8f8f8">
							<table class="table table-bordered table-condensed table-center" style="margin-bottom:0px;">
								<tr style="background:#d0d0d0;">
                                    <td width="5%"><input type="checkbox"/></td>
									<td width="8%">이름</td>
									<td width="8%">사번</td>
									<td width="8%">부서</td>
									<td width="8%">직급</td>
									<td width="8%">재직 현황</td>
									<td width="9%">입사일</td>
									<td width="9%">퇴사일</td>
									<td width="13%">연락처</td>
									<td width="14%">이메일</td>
									<td width="9%">수정하기</td>
									<td width="9%">상세 보기</td>
								</tr>
								<tr>
                                    <td><input type="checkbox"/></td>
									<td>이지희 ▩</b></td>
									<td>01</td>
									<td>총무팀</td>
									<td>대리</td>
									<td>재직</td>
									<td>2014.06.15</td>
									<td>2014.06.15</td>
									<td>010-2833-5679</td>
									<td>jungklee@naver.com</td>
									<td><button class="btn btn-small">수정</button></td>
									<td><button class="btn btn-small">보기▲</button></td>
								</tr>
								<tr>
                                    <td><input type="checkbox"/></td>
									<td>김민철 ▩</b></td>
									<td>02</td>
									<td>시설관리팀</td>
									<td>사원</td>
									<td>재직</td>
									<td>2014.06.16</td>
									<td>2014.06.16</td>
									<td>010-1234-5678</td>
									<td>minchul@gmail.com</td>
									<td><button class="btn btn-small">수정</button></td>
									<td><button class="btn btn-small">보기▼</button></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
			<!-- end: Content -->
		</div>
	</div>
	
	<div class="clearfix"></div>
	<hr>
	
	<footer>
		<p class="pull-left">&copy; <a href="" target="_blank">creativeLabs</a> 2013</p>
		<p class="pull-right">Powered by: <a href="#">Optimus Dashboard</a></p>
	</footer>
			
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<!--<script src="{{ STATIC_URL }}js/03_01_electricity_show.js"></script>!-->
		<script src="{{ STATIC_URL }}js/common.js"></script>
		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// show sidebar
				show_sidebar();

			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
