<!DOCTYPE html>
<html lang="ko">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!--<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
		<script src="jquery/jquery-1.10.1.min.js"></script>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {
				alert('ready');
			});
		</script>
	</head>
	<body>
		Hello!
	</body>
</html>
