<!DOCTYPE html>
<html lang="ko" ng-app="yewooApp">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/print.css" rel="stylesheet" media="print">
	<!-- end: CSS -->

    <!-- start: angular scripts -->
    <script src="{{ STATIC_URL }}underscorejs/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
    <!--<script src="{{ STATIC_URL }}angularjs/angular.min.js"></script>-->
	<script src="{{ STATIC_URL }}js/leave_tenant_print.angular.js"></script>
    <!-- end: angular scripts -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .white {
    	background-color: #ffffff;
    }
    .must {
    	color: red;
    	float: left;
    	margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}


    @page { size: A4 landscape; }
	</style>
		
</head>

<body id="leave" style="background: white; padding: 5px;" ng-controller="MainCtrl" class="owner">
    <!-- start:Header --!>
    <!-- end:Header --!>
	
	{% load humanize %}	
    <input type="hidden" id="print" value="{{ print }}" />
    <input type="hidden" id="rid" value="{{ result.id }}" />
    <input type="hidden" id="bid" value="{{ result.buildingName }}" />
	<div class="container-fluid" ng-repeat="paged in pagedCases">
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>
        <table style="min-height:18cm !important;">
			<!-- start: Content -->	

            <!-- start first column -->
            <tr><td width="75%" style="padding-right:10px; vertical-align:top; border-right: 1px solid black;">
                <div class="titlebox">임대료 및 공과금 납부 상세 명세</div>
                <!-- 내역 table -->
                <table width="100%" class="fullbox table-content contactbox textCenter">
                    <tr class="graycell">
                        <td rowspan="2" width="7.5%">구분</td>
                        <td rowspan="2" width="7.5%">년도/월</td>
                        <td rowspan="2" width="5%">회차</td>
                        <td colspan="4" width="30%">납부 금액</td>
                        <td colspan="3" width="15%">연체 내역</td>
                        <td rowspan="2" colspan="2" width="10%">납부 확인</td>
                        <td class="noborderright" rowspan="2" width="5%">납부처리</td>
                    </tr>
                    <tr class="graycell">
                        <td>납부 금액</td>
                        <td>입금액</td>
                        <td>입금일</td>
                        <td>미납액</td>
                        <td colspan="2">미납 회차</td>
                        <td>누적</td>
                    </tr>
                    <tr ng-repeat="c in paged" class="itemcell">
                        <td class="graycell" ng-if="c.yearSpan > 0" ng-attr-rowspan="&#123;&#123;c.yearSpan&#125;&#125;"><span ng-bind="c.year"></span>년</td>
                        <td><span ng-bind="c.year"></span>년 <span ng-if="item.month < 10">0</span><span ng-bind="c.month"></span>월</td>
                        <td><span ng-bind="c.number"></span></td>
                        <td><span ng-bind="c.totalFee | number:0"></span></td>
                        <td><span ng-bind="c.amountPay | number:0"></span></td>
                        <td><span ng-bind="c.payDate | date:'yy.MM.dd'"></span></td>
                        <td><span ng-bind="c.amountNoPay | number:0"></span></td>
            <td>
                <span ng-if="c.delayNumber > 0">
                    <span ng-if="c.amountPay == 0 && c.amountNoPay > 0">미납</span>
                    <span ng-if="c.amountPay > 0 && c.amountNoPay > 0">부분</span>
                    <span ng-if="c.amountNoPay == 0">완납</span>
                </span>
                <span ng-if="c.delayNumber <= 0">고지</span>
            </td>

            <td>
                <span ng-if="c.delayNumber > 0"><span ng-bind="c.delayNumber" ></span>회</span>
                <span ng-if="c.delayNumber <= 0"><span ng-bind="c.number"></span>회</span>
            </td>
            <td>
                <span ng-if="c.delayNumber > 0" ><span ng-bind="c.accumNumber"></span>회</span>
                <span ng-if="c.delayNumber <= 0">0회</span>
            </td>
            <td>
                <span ng-if="c.payStatus == -1">완납</span>
                <span ng-if="c.payStatus != -1">납부</span>
            </td>
            <td>
                <span ng-if="c.payStatus == -1">없음</span>
                <span ng-if="c.payStatus != -1"><span ng-bind="c.payStatus"/>회</span>
            </td>
            <td class="noborderright">
                <span ng-if="c.payStatus == -1">납부</span>
                <span ng-if="c.payStatus == 0">미납</span>
                <span ng-if="c.payStatus != 0 && c.payStatus != -1">부분</span>
            </td>
                    </tr>
                    <tr class="itemcell">
                        <td class="graycell bold" colspan=3"">소계</td>
                        <td class="graycell bold"><span ng-bind="sum_fee | number:'0'"></span></td>
                        <td class="graycell bold"><span ng-bind="sum_pay | number:'0'"></span></td>
                        <td class="graycell bold"></td>
                        <td class="graycell bold"><span ng-bind="sum_nopay | number:'0'"></span></td>
                        <td colspan="6" class="graycell noborderright"></td>
                    </tr>
                </table>
                <!-- end 내역 table -->
            </td>
            <!-- end first column -->

            <!-- second column -->
            <td width="25%" style="padding-left:10px; vertical-align:top;">
                <!-- 임차인 -->
                <div class="titlebox">임차인</div>
                <table class="fullbox">
                    <tr>
                        <td width="33%">
                            <span class="bold" ng-bind="data.resident.fields.buildingNameKor"></span>
                        </td>
                        <td width="33%" class="textCenter">
                            <span class="bold" ng-bind="data.resident.fields.roomNumber"></span>호
                        </td>
                        <td width="33%" class="textRight">
                            <span class="bold" ng-bind="data.resident.fields.residentName"></span>님
                        </td>
                    </tr>
                </table>
                <table class="fullbox table-content">
                    <colgroup>
                        <col width="25%"/>
                        <col width="10%"/>
                        <col width="65%"/>
                    </colgroup>
                    <tr>
                        <td class="bold paddingSmallLeft">임대기간</td>
                        <td class="textCenter bold">|</td>
                        <td>
                            <span ng-bind="data.resident.fields.inDate | date:'yyyy.MM.dd'"></span> ~ <span ng-bind="data.resident.fields.outDate | date:'yyyy.MM.dd'"></span> (<span ng-bind="data.resident.fields.leasePayWay"></span>)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">임대일</td>
                        <td class="textRight paddingRight"><span ng-bind="data.resident.fields.inDate | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">만료일</td>
                        <td class="textRight paddingRight"><span ng-bind="data.resident.fields.outDate | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">퇴거일</td>
                        <td class="paddingRight textRight"><span ng-bind="data.resident.fields.realOutDate | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="paddingLeft">
                            *퇴거사유 : <span ng-bind="data.resident.fields.outReason"></span>
                        </td>
                    </tr>
                </table>

                <!-- 미납금 명세 -->
                <div class="titlebox">
                    미납금 명세
                </div>
                <table style="border-bottom: 1px solid black" class="fullbox">
                    <tr>
                        <td width="50%">
                            현재, 미납된<br />임대료 및 공과금액은 
                        </td>
                        <td width="50%" class="textRight " style="font-size:13pt !important;">
                            <span style="font-size:13pt !important;" ng-bind="sum_nopay | number:0"></span>원
                        </td>
                    </tr>
                </table>
                <br/>
                <div class="bold">+ 납부 상세 명세</div>
                <table class="fullbox table-content">
                    <colgroup>
                        <col width="35%"/>
                        <col width="65%"/>
                    </colgroup>
                    <tr>
                        <td class="bold paddingSmallLeft">총 납부 금액</td>
                        <td class="textRight paddingRight"><span ng-bind="sum_fee | number:0"></span>원</td>
                    </tr>
                    <tr>
                        <td class="bold paddingLeft">입금액</td>
                        <td class="textRight paddingRight"><span ng-bind="sum_pay | number:0"></span>원</td>
                    </tr>
                    <tr>
                        <td class="bold paddingLeft">미납액</td>
                        <td class="textRight paddingRight"><span ng-bind="sum_nopay | number:0"></span>원</td>
                    </tr>
                </table>

                <!-- 시설 관리비 발생 내역 table -->
                <div class="titlebox">
                    금액 명세
                </div>
                <table class="fullbox contactbox">
                    <colgroup>
                        <col width="30%" class="textCenter"/>
                        <col width="45%" class="textCenter"/>
                        <!--<col width="40%" class="textCenter"/>-->
                        <col width="30%" class="textCenter"/>
                        <col width="15%" class="textCenter"/>
                    </colgroup>
                    <tr ng-repeat="m in data.payoffs">
                        <td class="graycell textCenter">
                            <span ng-bind="m.fields.title"></span>
                        </td>
                        <td class="whitecell textCenter">
                            <span ng-if="m.fields.date" ng-bind="m.fields.date"></span>
                            <span ng-if="!m.fields.date">-</span>
                        </td>
                        <!--
                        <td class="whitecell textCenter">
                            <span ng-if="m.fields.desc" ng-bind="m.fields.desc"></span>
                            <span ng-if="!m.fields.desc">-</span>
                        </td>-->
                        <td class="whitecell textCenter">
                            <span ng-if="m.fields.amount"><span ng-bind="m.fields.amount | number:'0'"></span></span>
                            <span ng-if="!m.fields.amount">0</span>
                        </td>
                        <td class="whitecell textCenter noborderright">
                            <span ng-if="m.fields.subType" ng-bind="m.fields.subType"></span>
                            <span ng-if="!m.fields.subType">-</span>
                        </td>
                    </tr>
                </table>  
                <!-- end 추가 금액 table -->
                <!-- 시설 관리비 발생 내역 table -->
                <div class="titlebox">
                    검침 명세
                </div>
                <table class="fullbox contactbox">
                    <colgroup>
                        <col width="20%" class="textCenter"/>
                        <col width="15%" class="textCenter"/>
                        <col width="15%" class="textCenter"/>
                        <col width="20%" class="textCenter"/>
                        <col width="15%" class="textCenter"/>
                        <col width="15%" class="textCenter"/>
                    </colgroup>
                    <tr ng-repeat="m in data.reads" class=" textCenter">
                        <td class="graycell">
                            원격검침
                        </td>
                        <td class="whitecell">
                            <span ng-bind="m.fields.title"></span>
                        </td>
                        <td class="whitecell">
                            <span ng-bind="m.fields.amount" ng-show="m.fields.amount"></span>
                            <span ng-if="!m.fields.amount">-</span>
                        </td>
                        <td class="graycell">
                            실계량기 
                        </td>
                        <td class="whitecell">
                            <span ng-if="m.fields.subType" ng-bind="m.fields.subType"></span>
                            <span ng-if="!m.fields.subType">-</span>
                        </td>
                        <td class="whitecell noborderright">
                            <span ng-if="m.fields.desc" ng-bind="m.fields.desc"></span>
                            <span ng-if="!m.fields.desc">-</span>
                        </td>
                    </tr>
                </table>  
            </td></tr>
            <!-- end second column -->


			<!-- end: Content -->
		</table>
        <div ng-if="$index + 1 != pagedCases.length" style="page-break-after: always;"></div>
	</div>
	
	
	<div class="clearfix"></div>
		
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/common.js"></script>
	    		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// show sidebar
				show_sidebar();

				$('.dateinput').change(function() {
					var mdy = $(this).val().split('/');
					$(this).val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
				});
			
				// radio 버튼 클릭 시
				$('input[name=radioN]').change(function() {
					changeRadio(Number($(this).val()));
				});
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
