<!DOCTYPE html>
<html lang="ko" ng-app="yewooApp">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/print.css" rel="stylesheet" media="print">
	<!-- end: CSS -->

    <!-- start: angular scripts -->
    <script src="{{ STATIC_URL }}underscorejs/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
    <!--<script src="{{ STATIC_URL }}angularjs/angular.min.js"></script>-->
	<script src="{{ STATIC_URL }}js/leave_owner_print.angular.js"></script>
    <!-- end: angular scripts -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .white {
    	background-color: #ffffff;
    }
    .must {
    	color: red;
    	float: left;
    	margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-size : 0.77em;
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}


    @page { size: A4 landscape; }
	</style>
		
</head>

<body id="leave" style="background: white; padding: 5px;" ng-controller="MainCtrl" class="owner dotum">
    <!-- start:Header --!>
    <!-- end:Header --!>
	
	{% load humanize %}	
    <input type="hidden" id="print" value="{{ print }}" />
    <input type="hidden" id="rid" value="{{ result.id }}" />
    <input type="hidden" id="bid" value="{{ result.buildingName }}" />
	<div class="container-fluid">
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>
        <table class="fullbox three-columns">
            <tr>
			<!-- start: Content -->	

            <!-- first column -->
            <td width="33.33%">
                <!-- 임차인 -->
                <div class="titlebox">임 차 인</div>
                <table class="fullbox">
                    <tr>
                        <td width="33.33%">
                            <span class="bold" ng-bind="data.buildingName"></span>
                        </td>
                        <td width="33.33%" class="textCenter">
                            <span class="bold" ng-bind="data.roomNumber"></span>호
                        </td>
                        <td width="33.33%" class="textRight">
                            <span class="bold" ng-bind="data.name"></span>님
                        </td>
                    </tr>
                <table>
                <table class="fullbox table-content">
                    <colgroup>
                        <col width="25%"/>
                        <col width="10%"/>
                        <col width="65%"/>
                    </colgroup>
                    <tr>
                        <td class="bold paddingSmallLeft">임대기간</td>
                        <td class="textCenter bold">|</div>
                        <td class="">
                            <span ng-bind="data.rentStart | date:'yyyy.MM.dd'"></span> ~ <span ng-bind="data.rentEnd | date:'yyyy.MM.dd'"></span> (<span ng-bind="data.rentMethod"></span>)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">임대일</td>
                        <td class="textRight paddingRight"><span ng-bind="data.rentStart | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">만료일</td>
                        <td class="textRight paddingRight"><span ng-bind="data.rentEnd | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">퇴거일</td>
                        <td class="textRight paddingRight"><span ng-bind="data.leaved | date:'yyyy.MM.dd'"></span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="paddingLeft">
                            *퇴거사유 : <span ng-bind="data.leaveReason"></span>
                        </td>
                    </tr>
                    <tr class="graycell">
                        <td colspan="3" class="paddingSmallLeft bold">임대 보증금 및 임대료</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">임대 보증금</td>
                        <td class="textRight paddingRight"><span ng-bind="data.deposit | number:0"></span>원</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="bold paddingLeft">임대료</td>
                        <td class="textRight paddingRight"><span ng-bind="data.rent | number:0"></span>원</td>
                    </tr>
                </table>
                <!-- 반환금 명세 -->
                <div class="titlebox">
                    반환금 명세
                </div>
                <table class="fullbox">
                    <tr>
                        <td width="40%" style="line-height:110%">
                            퇴거시<br />반환 받으신 금액은
                        </td>
                        <td width="60%" class="textRight textLarge padding5">
                            <span class="textLarge" ng-bind="data.returnMoney | number:0"></span>원
                        </td>
                    </tr>
                </table>

                <div class="bold">
                    + 총 반환금
                </div>
                <table class="fullbox table-content">
                    <colgroup>
                        <col width="50%"/>
                        <col width="50%"/>
                    </colgroup>
                    <tr>
                        <td class="bold paddingSmallLeft">임대기간</td>
                        <td class="bold textRight paddingRight">
                            <span ng-bind="data.deposit | number:0"></span>원
                        </td>
                    </tr>
                    <tr>
                        <td class="bold paddingLeft">미납 요금 및 공과금<br/>(추가금액 포함)</td>
                        <td class="textRight paddingRight">
                            <span ng-bind="data.unpaid | number:0"></span>원
                        </td>
                    </tr>
                    <tr>
                        <td class="bold paddingLeft">시설 관리비</td>
                        <td class="textRight paddingRight">
                            <span ng-bind="data.fee | number:0"></span>원
                        </td>
                    </tr>
                    <tr class="graycell">
                        <td class="bold paddingSmallLeft">총 금액</td>
                        <td class="bold textRight paddingRight">
                            <span ng-bind="data.returnMoney | number:0"></span>원
                        </td>
                    </tr>
                    <tr>
                        <td class="paddingLeft" colspan="2">
                            <span class="bold">입금계좌</span> <span ng-bind="data.bank"></span> <span ng-bind="data.account"></span>&nbsp;&nbsp;예금주 : <span ng-bind="data.accountHolder"></span>
                        </td>
                    </tr>
                </table>
                <!-- 퇴거 정산서 확인-->
                <div class="titlebox">
                    퇴거 정산서 확인
                </div>
                <div class="bold">
                    + 임차인 확인 
                </div>
                <table class="fullbox contactbox">
                    <colgroup>
                        <col width="30%"/>
                        <col width="40%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tr>
                        <td class="textCenter graycell">성&nbsp;&nbsp;&nbsp;&nbsp;명</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.residentName"></span></td>
                        <td class="textCenter whitecell bold noborderright" rowspan="3">서명(인)</td>
                    </tr>
                    <tr>
                        <td class="textCenter graycell">주민번호</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.residentRegNumber"></span></td>
                    </tr>
                    <tr>
                        <td class="textCenter graycell">연락처</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.residentContactNumber1"></span></td>
                    </tr>
                </table>
                <div class="bold">
                    + 임대인 확인 
                </div> 
                <table class="fullbox contactbox">
                    <colgroup>
                        <col width="30%"/>
                        <col width="40%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tr>
                        <td class="textCenter graycell">성&nbsp;&nbsp;&nbsp;&nbsp;명</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.contractorName"></span></td>
                        <td class="textCenter whitecell bold noborderright" rowspan="3">서명(인)</td>
                    </tr>
                    <tr>
                        <td class="textCenter graycell">주민번호</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.contractorRegNumber"></span></td>
                    </tr>
                    <tr>
                        <td class="textCenter graycell">연락처</td>
                        <td class="textCenter whitecell"><span ng-bind="resident.contractorContactNumber1"></span></td>
                    </tr>
                </table>
            </td>
            <!-- end first column -->

            <!-- second column -->
            <td width="33.33%" height="17cm">
                <div class="layout">
                    <div class="layout-fixed">
                        <div class="titlebox">상세명세1/ 미납임대료 및 공과금</div>
                        <!-- 총 금액 table -->
                        <div class="bold">
                            + 총 금액
                        </div>
                        <table class="fullbox table-content">
                            <colgroup>
                                <col width="50%"/>
                                <col width="50%"/>
                            </colgroup>
                            <tr>
                                <td class="bold paddingSmallLeft">총 금액</td>
                                <td class="bold textRight paddingRight">
                                    <span ng-bind="data.unpaid | number:0"></span>원
                                </td>
                            </tr>
                            <tr>
                                <td class="bold paddingLeft">미납 요금 및 공과금</td>
                                <td class="textRight paddingRight">
                                    <span ng-bind="data.unpaidCollected| number:0"></span>원
                                </td>
                            </tr>
                            <tr>
                                <td class="bold paddingLeft">추가금액</td>
                                <td class="textRight paddingRight">
                                    <span ng-bind="data.unpaidAdded| number:0"></span>원
                                </td>
                            </tr>
                        </table>
                        <!-- end 총 금액 table -->
                        <br />
                        <!-- 미납 내역 table -->
                        <div class="bold">
                            + 미납내역
                        </div>
                        <table class="fullbox table-content textCenter">
                            <tr class="graycell bold itemcell">
                                <td width="25%">년도/월</td>
                                <!--<td>회차</td>-->
                                <td width="20%">납부금액</td>
                                <td width="20%">입금액</td>
                                <!--<td>입금일</td>-->
                                <td width="20%">미납액</td>
                                <td width="15%" class="noborderright">처리</td>
                            </tr>
                            <tr ng-repeat="item in data.unpaidList | limitTo: 15" class="itemcell">
                                <td class="bold graycell"><span ng-bind="item.year"></span>/<span ng-if="item.month < 10">0</span><span ng-bind="item.month"></span></td>
                                <!--<td><span ng-bind="item.number"></span></td>-->
                                <td><span ng-bind="item.totalFee | number:0"></span></td>
                                <td><span ng-bind="item.amountPay | number:0"></span></td>
                                <!--<td><span ng-bind="item.payDate | date:'yy.MM.dd'"></span></td>-->
                                <td><span ng-bind="item.revisiedAmount | number:0"></span></td>
                                <td class="noborderright">
                                    <span ng-if="item.payStatus == -1">완납</span>
                                    <span ng-if="item.payStatus != -1">미납</span>
                                </td>
                            </tr>
                        </table>
                        <!-- end 미납 내역 table -->

                        <br/>
                        <!-- 추가 금액 table -->
                        <div class="bold">
                            + 추가 금액 내역
                        </div>
                        <table class="fullbox table-content textCenter">
                            <tr class=" bold itemcell" ng-repeat="item in data.unpaidAddedList">
                                <td class="whitecell" width="50%"><span ng-bind="item.title"></span></td>
                                <td class="whitecell noborderright" width="50%"><span ng-bind="item.amount | number:0"></span>원</td>
                            </tr>
                        </table>
                        <!-- end 추가 금액 table -->

                        <br/>
                        <!-- 기타 사유 table -->
                        <div class="bold">
                            + 기타사유 
                        </div>
                    </div>
                    <div class="fullbox graybox padding5 layout-content">
                       <span ng-bind="data.unpaidComment"></span>
                    </div>
                </div>
                <!-- end 기타 사유 table -->

            </td>
            <!-- end second column -->

            <!-- third column -->
            <td width="33.33%" height="18cm">

                <div class="layout">
                    <div class="layout-fixed">
                        <div class="titlebox">상세명세2 / 시설관리비</div>

                        <!-- 총 금액 table -->
                        <table class="fullbox table-content">
                            <colgroup>
                                <col width="50%"/>
                                <col width="50%"/>
                            </colgroup>
                            <tr>
                                <td class="bold paddingSmallLeft">총 금액</td>
                                <td class="bold textRight paddingRight">
                                    <span ng-bind="data.fee | number:0"></span>원
                                </td>
                            </tr>
                            <tr ng-repeat="item in data.feeGroupList">
                                <td class="bold paddingLeft">
                                    <span ng-bind="item.title"></span>
                                </td>
                                <td class="textRight paddingRight">
                                    <span ng-bind="item.amount | number:0"></span>원
                                </td>
                            </tr>
                        </table>
                        <!-- end 총 금액 table -->

                        <br/>
                        <!-- 시설 관리비 발생 내역 table -->
                        <div class="bold">
                            + 시설 관리비 발생 내역
                        </div>
                        <!-- end 추가 금액 table -->
                        <table class="fullbox table-content">
                            <colgroup>
                                <col width="50%"/>
                                <col width="50%"/>
                            </colgroup>
                            <tr ng-repeat="item in data.feeList | limitTo: 10" class="itemcell">
                                <td class="bold paddingLeft whitecell">
                                    <span ng-bind="item.title"></span>
                                </td>
                                <td class="textRight paddingRight whitecell noborderright">
                                    <span ng-if="!item.nodata"><span ng-bind="item.amount | number:0"></span>원</span>&nbsp;
                                </td>
                            </tr>
                        </table>

                        <br/>
                        <!-- 기타 사유 table -->
                        <div class="bold">
                            + 기타 사유
                        </div>
                    </div>
                    <div class="layout-content fullbox graybox padding5">
                           <span ng-bind="data.unpaidComment"></span>
                    </div>
                    <div class="layout-fixed">
                        <!-- end 기타 사유 table -->
                        
                        <!-- contact -->
                        <br />
                        <div>
                            문의 사항은 하단의 관련부서로 연락 주시기 바랍니다.
                        <div>
                        <table class="contactbox fullbox textCenter" style="font-size:7pt !important">
                            <colgroup>
                                <col width="14%" class="graycell"/>
                                <col width="20%"/>
                                <col width="23%"/>
                                <col width="20%"/>
                                <col width="23%"/>
                            </colgroup>
                            <tr class="borderBlackTop">
                                <td class="graycell">주소</td>
                                <td class="noborderright" colspan="4"><span ng-bind="building.address"></td>
                            </tr>
                            <tr>
                                <td class="graycell" rowspan="3">연락처</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[0].title"></span>&nbsp;</td>
                                <td><span ng-bind="building.manager"></span</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[1].title"></span></td>
                                <td class="noborderright"><span ng-bind="building.managerNumber"></span</td>
                            </tr>
                            <tr>
                                <td class="graycell"><span ng-bind="data.contact.infoList[2].title"></span>&nbsp;</td>
                                <td><span ng-bind="building.leaseNumber"></span</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[3].title"></span></td>
                                <td class="noborderright"><span ng-bind="building.guardNumber"></span</td>
                            </tr>
                            <tr>
                                <td class="graycell"><span ng-bind="data.contact.infoList[4].title"></span>&nbsp;</td>
                                <td><span ng-bind="building.facilityNumber"></span</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[5].title"></span></td>
                                <td class="noborderright"><span ng-bind="building.mainNumber"></span</td>
                            </tr>
                            <tr>
                                <td class="graycell">팩스</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[6].title"></span>&nbsp;</td>
                                <td><span ng-bind="building.leaseFax"></span</td>
                                <td class="graycell"><span ng-bind="data.contact.infoList[7].title"></span></td>
                                <td class="noborderright"><span ng-bind="building.mainFax"></span</td>
                            </tr>
                            <tr>
                                <td class="graycell">E-mail</td>
                                <td colspan="4" class="noborderright"><span ng-bind="building.email"></span></td>
                            </tr>
                            <tr>
                                <td class="graycell">번호</td>
                                <td colspan="4" class="noborderright"><span ng-bind="data.contact.doc.num"></span></td>
                            </tr>
                            <tr>
                                <td class="graycell">제목</td>
                                <td colspan="4" class="noborderright"><span ng-bind="data.contact.doc.title"></span></td>
                            </tr>
                            <tr class="borderBlackBottom">
                                <td class="graycell">일자</td>
                                <td colspan="4" class="noborderright"><span ng-bind="data.contact.doc.written | date:'yyyy.MM.dd'"></span></td>
                            </tr>
                        </table>
                        <br />
                        <div class="textRight sign">
                            <span ng-bind="data.contact.name"></span>
                        </div>
                        <!-- end: contact -->
                    </div>
                </div>
            </td>
            <!-- end third column -->

			<!-- end: Content -->
            </tr>
		</table>
	</div>
	
	
	<div class="clearfix"></div>
		
</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>

		<script src="{{ STATIC_URL }}js/common.js"></script>
	    		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// show sidebar
				show_sidebar();

				$('.dateinput').change(function() {
					var mdy = $(this).val().split('/');
					$(this).val(mdy[2]+'.'+mdy[0]+'.'+mdy[1]);
				});
			
				// radio 버튼 클릭 시
				$('input[name=radioN]').change(function() {
					changeRadio(Number($(this).val()));
				});
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
