<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ STATIC_URL }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ STATIC_URL }}bootstrap/css/style-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    body {
      padding-bottom: 40px;
      font-size : 0.77em;
      font-family : 'Malgun Gothic' !important;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="" %}
    <!-- end:Header --!>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" style="width:250px">
          {% include "sidebar.html" with side_menu="home" %}
        </div><!--/span-->
        <div class="span9">
            <h2>게시판 알림 영역</h2>
            <p>이곳은 게시판 알림 영역입니다.</p>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->



	<!-- start: JavaScript-->
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/fullcalendar.min.js'></script>
	
		<script src='{{ STATIC_URL }}bootstrap/js/jquery.dataTables.min.js'></script>

		<script src="{{ STATIC_URL }}bootstrap/js/excanvas.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.pie.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.stack.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.chosen.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uniform.min.js"></script>
		
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.noty.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.raty.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.gritter.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/jquery.masonry.min.js"></script>
	
		<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>

		<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
		<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
		<script src="{{ STATIC_URL }}ejs/view.js"></script>
		<script src="{{ STATIC_URL }}js/common.js"></script>

		
		<script type="text/javascript" language="JavaScript">
			$(document).ready(function(){
				// 초기 빌딩 수 알아두기
				numOfBuildings = Number({{ numbuilding }});

				// show sidebar
				show_sidebar();
				$('#tabmenu a').click(function(e) {
					e.preventDefault();
					$(this).tab('show');
				});
                $("#side-datepicker").datepicker();
                $("#side-datepicker2").datepicker();
                $("#side-datepicker3").datepicker();
			});			
		</script>
		<!-- end: JavaScript-->
	
</body>
</html>
