
<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>3. 입주자 정보 확인</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../../buildingApp/static/jquery/jquery-1.10.1.min.js"></script>
		<script src="../../buildingApp/static/jquery/jquery.cookie.js"></script>
		<link href="../../buildingApp/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../buildingApp/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../../buildingApp/static/bootstrap/css/datepicker.css" rel="stylesheet">
		<script src="../../buildingApp/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../buildingApp/static/bootstrap/js/bootstrap-datepicker.js"></script>
		<script src="../../buildingApp/static/js/02_01_resident_info_input.js"></script>
		<script>
			$(document).ready(function() {
				//var nowTemp = new Date();
				//var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
				var inDate = $('#inDate').datepicker({
					format: 'yyyy-mm-dd'
				}).on('changeDate', function(ev) {
					if (ev.date.valueOf() > expireDate.date.valueOf()) {
						var newDate = new Date(ev.date)
					    newDate.setDate(newDate.getDate() + 1);
					    expireDate.setValue(newDate);
					}
  					inDate.hide();
  				}).data('datepicker');
				var expireDate = $('#outDate').datepicker({
					format: 'yyyy-mm-dd',
					onRender: function(date) {
    					return date.valueOf() <= inDate.date.valueOf() ? 'disabled' : '';
  					}
				}).on('changeDate', function(ev) {
  					expireDate.hide();
				}).data('datepicker');
				
				//  실거주자와 동일인물인지 체크했을 때
				$('#isContractorResidentSame').click(function() {
					var chk = $(this).is(':checked');
					if (chk) {
						$('#residentRegNumber_1').val( $('#contractorRegNumber_1').val() );
						$('#residentRegNumber_2').val( $('#contractorRegNumber_2').val() );
						$('#residentContactNumber1_1').val( $('#contractorContactNumber1_1').val() );
						$('#residentContactNumber1_2').val( $('#contractorContactNumber1_2').val() );
						$('#residentContactNumber1_3').val( $('#contractorContactNumber1_3').val() );
						$('#residentContactNumber2_1').val( $('#contractorContactNumber2_1').val() );
						$('#residentContactNumber2_2').val( $('#contractorContactNumber2_2').val() );
						$('#residentContactNumber2_3').val( $('#contractorContactNumber2_3').val() );
						$('#residentAddress').val( $('#contractorAddress').val() );
						$('#residentName').val( $('#contractorName').val() );
						$('#residentGender').val( $('#contractorGender').val() );
						$('#relToContractor').val('본인');
					}
					else {
						$('#residentRegNumber_1').val('');
						$('#residentRegNumber_2').val('');
						$('#residentContactNumber1_1').val('');
						$('#residentContactNumber1_2').val('');
						$('#residentContactNumber1_3').val('');
						$('#residentContactNumber2_1').val('');
						$('#residentContactNumber2_2').val('');
						$('#residentContactNumber2_3').val('');
						$('#residentAddress').val('');
						$('#residentName').val('');
						$('#residentGender').val('남');
						$('#relToContractor').val('');
					}
				});
			});
		</script>
		<script>
			function visibleRadio(){
				if( document.all["radioDiv"].style.display == "" ){
					document.all["radioDiv"].style.display = "none";
				}else{
					document.all["radioDiv"].style.display = "";
				}
			}
		</script>
		<style>
			body {
				font-size : 0.75em;
			}
			.bs {
				margin-left: 5px;
				margin-bottom: 0px !important;
				font-size: 1em;
			}
			::-webkit-input-placeholder {
				font-size: 0.8em;
			}
			::-moz-placeholder {
				font-size: 0.8em;
			}
			:-moz-placeholder {
				font-size: 0.8em;
			}
			:-ms-input-placeholder {
				font-size: 0.8em;
			}
			:-input {
				margin-bottom:0px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					Top Bar
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span2">
					Side Bar
				</div>
					
				<div class="span8">
					<!-- 2-1 body content -->
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
					 	<li><a href="#">입주자 관리</a></li>
						<li class="active">입주자 정보 확인</li>
					</ol>
					
					<span class="label label-default"><h5>입주자 정보 확인</h5></span>					
  					<p><pre><center>입주자 관리/입주자 정보 확인</center></pre></p>
  					
					<input id="searchWord" class="bs span3" type="text" />
  					<button type="button" class="btn btn-default">검색</button>
  					<button type="button" class="btn btn-default" onclick="visibleRadio()">상세</button>
  					
  					<div style="margin-bottom:20px"></div>
										
					<div id="radioDiv" class="table-responsive" style="display:none;">
						<table class="table table-bordered table-condensed">
							<tr>
								<div class="row-fluid">
									<td class="span3">
										<strong>건물명</strong>
										<select id="buildingName" class="bs form-control span8">
											<option value="">전체</option>
											<option value="1번건물">1번건물</option>
											<option value="2번건물">2번건물</option>
											<option value="3번건물">3번건물</option>
											<option value="4번건물">4번건물</option>
										</select>
									</td>
									<td class="span3">
										<strong>호 실</strong>
										<select id="buildingRoomNumber" class="bs form-control span8">
											<option value="">전체</option>
											<option value="101">101</option>
											<option value="102">102</option>
										</select>
									</td>
									<td class="span3">
										<strong>임차인</strong>
										<input id="lessee" type="text" class="bs span6" />
									</td>
									<td class="span3">
										<strong>성별</strong>
										<select id="contractorGender" class="bs form-control span4">
											<option value="남">남</option>
											<option value="여">여</option>
										</select>
									</td>
								</div>
							</tr>
							<tr>
								<div class="row-fluid">
									<td class="span3">
										<strong>보증금</strong>
										<input id="leaseDeposit" type="text" class="bs span9" />
									</td>
									<td class="span3">
										<strong>임대료</strong>
										<input id="leaseDeposit" type="text" class="bs span9" />
									</td>
									<td colspan="2" td class="span6">
										<strong>임대 구분</strong>
										<select id="leaseType" class="bs form-control span4">
											<option value="월세">월세</option>
											<option value="전세">전세</option>
											<option value="매매">매매</option>
										</select>
									</td>
								</div>
							</tr>
							<tr>
								<div class="row-fluid">
									<td colspan="2" td class="span6">
										<strong>임대기간</strong>
										<select id="leasePeriodStartYear" class="bs form-control span3">
											<option selected>년도</option>
											<option value="2013">2013</option>
											<option value="2014">2014</option>
											<option value="2015">2015</option>
											<option value="2016">2016</option>
										</select>
										<select id="leasePeriodStartMonth" class="bs form-control span2">
											<option selected>월</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
										<strong>~</strong>
										<select id="leasePeriodEndYear" class="bs form-control span3">
											<option selected>년도</option>
											<option value="2013">2013</option>
											<option value="2014">2014</option>
											<option value="2015">2015</option>
											<option value="2016">2016</option>
										</select>
										<select id="leasePeriodEndMonth" class="bs form-control span2">
											<option selected>월</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
									</td>
									<td colspan="2" td class="span6">
										<strong>주차 여부</strong>
										<input id="isParking" type="checkbox">
										<strong>　　공실 여부</strong>
										<input id="isEmptyRoom" type="checkbox">
										<strong>　　연체 여부</strong>
										<input id="isOverdue" type="checkbox">
									</td>
								</div>
							</tr>
						</table>
					</div>
					
					<div style="margin-bottom:20px"></div>
					<center>
					<button type="button" class="btn btn-default">조회</button>
  					<button type="button" class="btn btn-default">초기화</button>
					</center>
					<div style="margin-bottom:20px"></div>
					
					<div style="position: absolute; height:400px; width:785px; white-space:nowrap; overflow-y:scroll;" id="listContent001" onscroll="tst001.scrollTop=this.scrollTop;">
						<table class="table table-bordered table-condensed">
							<tr>
								<th colspan="11">입주자 정보 확인</th>
							</tr>
							<tr>
								<div class="row-fluid">
									<td width="20">
										<center><input id="isParking" type="checkbox"></center>
									</td>
									<td bgcolor="lightgray">
										<center>루체씨티1</center>
									</td>
									<td bgcolor="lightgray">
										<center>301호</center>
									</td>
									<td>
										<center>김현성</center>
									</td>
									<td bgcolor="lightgray">
										<center>남</center>
									</td>
									<td>
										<center>월새</center>
									</td>
									<td>
										<center>보증금 7,000만원</center>
									</td>
									<td>
										<center>임대료 10만원</center>
									</td>
									<td>
										<center>20130908(입주일)</center>
									</td>
									<td>
										<center>20130908(만료일)</center>
									</td>
									<td>
										<center>연체 0원</center>
									</td>
								</div>
							</tr>							
							<tr>
								<div class="row-fluid">
									<td width="20">
										<center><input id="isParking" type="checkbox"></center>
									</td>
									<td bgcolor="lightgray">
										<center>루체씨티1</center>
									</td>
									<td bgcolor="lightgray">
										<center>301호</center>
									</td>
									<td>
										<center>김현성</center>
									</td>
									<td bgcolor="lightgray">
										<center>남</center>
									</td>
									<td>
										<center>월새</center>
									</td>
									<td>
										<center>보증금 7,000만원</center>
									</td>
									<td>
										<center>임대료 10만원</center>
									</td>
									<td>
										<center>20130908(입주일)</center>
									</td>
									<td>
										<center>20130908(만료일)</center>
									</td>
									<td>
										<center>연체 0원</center>
									</td>
								</div>
							</tr>							
						</table>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>
