<div class="well sidebar-nav" style="padding:0px;">
    <ul class="nav nav-tabs" id="tabmenu" style="margin:0px 0px 5px 0px;">
        {% if side_menu == "home" %}
        <li class="active" style="width:33.3%;font-size:10px;" onclick="$(location).attr('href','/newmain/')"><a href="#home_tab">홈</a></li>
        {% else %}
        <li style="width:33.3%;font-size:10px;" onclick="$(location).attr('href','/newmain/')"><a href="#home_tab">홈</a></li>
        {% endif %}
        {% if side_menu == "private" %}
        <li class="active" style="width:33.3%;font-size:10px;"><a href="#private_tab">개인함</a></li>
        {% else %}
        <li style="width:33.3%;font-size:10px;"><a href="#private_tab">개인함</a></li>
        {% endif %}
        {% if side_menu == "department" %}
        <li class="active" style="width:33.4%;font-size:10px;"><a href="#department_tab">부서함</a></li>
        {% else %}
        <li style="width:33.4%;font-size:10px;"><a href="#department_tab">부서함</a></li>
        {% endif %}
    </ul>
    <div id="mytabcontent" class="tab-content">
    	<!-- 1. 홈 탭 -->	
        {% if side_menu == "home" %}
    	<div class="tab-pane active" id="home_tab">
        {% else %}
    	<div class="tab-pane" id="home_tab">
        {% endif %}
    		<ul class="nav nav-list" style="padding:5px">
                <li class="nav-header bordered" style="margin:0px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="#">2014.06.12. (목)요일</a></li>
                <div id="side-datepicker" style="margin:3px 1px 3px 1px"></div>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">회사 일정</a></li>
            </ul>
    	</div>
    	<!-- 2. 개인함 탭 -->	
        {% if side_menu == "private" %}
    	<div class="tab-pane active" id="private_tab">
        {% else %}
    	<div class="tab-pane" id="private_tab">
        {% endif %}
    		<ul class="nav nav-list" style="padding:5px">
                <li class="nav-header bordered" style="margin:0px 1px 0px 1px;"><a href="#">업무 게시글 쓰기</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">통합 게시판</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">내 정보 관리 ▼</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="#">내 프로필 관리하기</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="#">내 근태 이력 보기</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="#">내 업무 평가 보기</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="#">내 로그인 정보 보기</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">내 일정 관리</a></li>
                <div id="side-datepicker2" style="margin:3px 1px 3px 1px"></div>
            </ul>
    	</div>
    
    	<!-- 3. 부서함 탭 -->
        {% if side_menu == "department" %}
    	<div class="tab-pane active" id="department_tab">
        {% else %}
    	<div class="tab-pane" id="department_tab">
        {% endif %}
    		<ul class="nav nav-list" style="padding:5px">
                <li class="nav-header bordered" style="margin:0px 1px 0px 1px;"><a href="#">▲ [건물 관리 시스템]</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">▲ [입주자 관리 시스템]</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">▲ [통합 내역 관리 시스템]</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">▼ [관리자 시스템]</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="/manage/activate/">회원 승인 관리</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="/manage/accountinfo/">회원 정보 관리</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="/manage/right/">회원 권한 관리</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;background-color:#ffffff;font-weight:normal;"><a href="/manage/setting/department/">시스템 설정</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">▲ [사내 정보 시스템]</a></li>
                <li class="nav-header bordered" style="margin:3px 1px 0px 1px;"><a href="#">▲ [통계 시스템]</a></li>
                <div id="side-datepicker3" style="margin:3px 1px 3px 1px"></div>
            </ul>
	    </div>
    </div>
</div><!--/.well -->
