<table class="table table-bordered table-condensed">
	<colgroup>
		<col width="4%">
		<col width="5%">
		<col width="5%">
		<col width="3%">
		<col width="5%">

		<col width="8%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="5%">

		<col width="6%">
		<col width="6%">
		<col width="7%">
		<col width="4%">
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center; vertical-align:middle">선택 출력</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">호수</th>
		<th rowspan="2" colspan="2" style="text-align:center; vertical-align:middle">입주자</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">구분</th>

		<th rowspan="2" style="text-align:center; vertical-align:middle">보증금</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">임대료 및 관리비</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">공과금</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">연체료</th>

		<th rowspan="2" style="text-align:center; vertical-align:middle">합계금액</th>
		<th colspan="2" style="text-align:center; vertical-align:middle">최종 금액</th>
		<th style="text-align:center; vertical-align:middle">확인</th>
	</tr>
	<tr>
		<th style="text-align:center; vertical-align:middle">임대료</th>
		<th style="text-align:center; vertical-align:middle">관리비</th>
		<th style="text-align:center; vertical-align:middle">VAT/주차</th>

		<th style="text-align:center; vertical-align:middle">전기</th>
		<th style="text-align:center; vertical-align:middle">수도</th>
		<th style="text-align:center; vertical-align:middle">가스</th>

		<th style="text-align:center; vertical-align:middle">변동금액</th>
		<th style="text-align:center; vertical-align:middle">확정금액</th>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
	</tr>
	<tr>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
		<td style="text-align:center; vertical-align:middle">101</td>
		<td style="text-align:center; vertical-align:middle">김호근</td>
		<td style="text-align:center; vertical-align:middle">남</td>
		<td style="text-align:center; vertical-align:middle">월세</td>

		<td style="text-align:center; vertical-align:middle">20,000,000</td>
		<td style="text-align:center; vertical-align:middle">250,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">30,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>

		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle; color:red">+20,000</td>
		<td style="text-align:center; vertical-align:middle">400,000</td>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
	</tr>
	<tr>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
		<td style="text-align:center; vertical-align:middle">102</td>
		<td style="text-align:center; vertical-align:middle">강민형</td>
		<td style="text-align:center; vertical-align:middle">남</td>
		<td style="text-align:center; vertical-align:middle">월세</td>

		<td style="text-align:center; vertical-align:middle">20,000,000</td>
		<td style="text-align:center; vertical-align:middle">250,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">30,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>

		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle; color:blue">-20,000</td>
		<td style="text-align:center; vertical-align:middle">380,000</td>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
	</tr>
</table>
