<% var w = new Array(5,6,6,6,6,6,5,5,5,5,5,5,5,5,5,5,5,5,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
<!--	<colgroup>
	<% for (i = 0 ; i < w.length; i++) { %>
		<col width="<%= w[i] %>%">
	<% } %>
	</colgroup>
-->
	<tr>
		<th rowspan="2" style="text-align:center">선택</th>
		<th rowspan="2" style="text-align:center">년도/월</th>
		<th rowspan="2" style="text-align:center">고지회차</th>
		<th rowspan="2" style="text-align:center">최종고지일</th>
		<th colspan="4" style="text-align:center">임대료 및 관리비</th>
		<th colspan="3" style="text-align:center">공과금</th>
		<th rowspan="2" style="text-align:center">기타금액</th>
		<th rowspan="2" style="text-align:center">변동금액</th>
		<th rowspan="2" style="text-align:center">합계금액</th>
		<th rowspan="2" style="text-align:center">고지서확인</th>
		<th rowspan="2" style="text-align:center">입력내역보기</th>
	</tr>
	<tr>
		<th style="text-align:center">임대료</th>
		<th style="text-align:center">관리비</th>
		<th style="text-align:center">부가세</th>
		<th style="text-align:center">주차비</th>
		<th style="text-align:center">전기</th>
		<th style="text-align:center">수도</th>
		<th style="text-align:center">가스</th>
	</tr>
	<% for (i = 10; i > 0; i--) { %>
	<tr>
		<td style="text-align:center"><input type="checkbox" /></td>
		<td style="text-align:center">2013.<%= i %></td>
		<td style="text-align:center"><%= i %></td>
		<td style="text-align:center">2014.02.25</td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"></td>
		<td style="text-align:center"><button class="btn btn-mini" onclick="showBillModal();">확인</button></td>
		<td style="text-align:center"><button class="btn btn-mini" onclick="showInputHistoryModal();">확인</button></td>
	</tr>
	<% } %>
 </table>  
