<table class="table table-bordered table-condensed table-hover">
	<colgroup>
		<col width="4%">
		<col width="5%">
		<col width="5%">
		<col width="6%">
		<col width="6%">
		<col width="4%">
		<col width="7%">

		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">

		<col width="7%">
		<col width="7%">
		<col width="7%">

		<col width="6%">
		<col width="6%">
		<col width="4%">
		
		<col width="6%">
		<col width="6%">
		<col width="5%">
		<col width="7%">
		<col width="4%">
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center; vertical-align:middle">입력 확인</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">입력 확인일</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">호수</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">입주자</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">년도/월</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">고지 회차</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">합계 금액</th>

		<th colspan="4" style="text-align:center; vertical-align:middle">임대료 및 관리비</th>
		<th colspan="3" style="text-align:center; vertical-align:middle">공과금<button class="btn btn-small" onclick="showEGWModal();">입력</button></th>
		<th colspan="3" style="text-align:center; vertical-align:middle">연체료</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">기타 금액</th>

		<th colspan="2" style="text-align:center; vertical-align:middle">변동 금액 입력</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">고지서 확인</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">출력 선택</th>
	</tr>
	<tr>
		<th style="text-align:center; vertical-align:middle">임대료</th>
		<th style="text-align:center; vertical-align:middle">관리비</th>
		<th style="text-align:center; vertical-align:middle">부가세</th>
		<th style="text-align:center; vertical-align:middle">주차비</th>

		<th style="text-align:center; vertical-align:middle">전기</th>
		<th style="text-align:center; vertical-align:middle">수도</th>
		<th style="text-align:center; vertical-align:middle">가스</th>

		<th style="text-align:center; vertical-align:middle">미납금</th>
		<th style="text-align:center; vertical-align:middle">연체료</th>
		<th style="text-align:center; vertical-align:middle">회차</th>
		
		<th style="text-align:center; vertical-align:middle">금액</th>
		<th style="text-align:center; vertical-align:middle">입력</th>
	</tr>
	<tr class="showDetail">
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
		<td style="text-align:center; vertical-align:middle; color:green">03.01</td>
		<td style="text-align:center; vertical-align:middle">101</td>
		<td style="text-align:center; vertical-align:middle">김호근</td>
		<td style="text-align:center; vertical-align:middle">2014/02</td>
		<td style="text-align:center; vertical-align:middle">3</td>
		<td style="text-align:center; vertical-align:middle">400,000</td>
		
		<td style="text-align:center; vertical-align:middle">250,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">30,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>

		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">-</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle; color:red">+20,000</td>
		<td style="text-align:center; vertical-align:middle"><button class="btn btn-small">입력</button></td>
		<td style="text-align:center; vertical-align:middle"><button class="btn btn-small">확인</button></td>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
	</tr>
	<tr class="showDetail">
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
		<td style="text-align:center; vertical-align:middle; color:green">03.01</td>
		<td style="text-align:center; vertical-align:middle">102</td>
		<td style="text-align:center; vertical-align:middle">김호근</td>
		<td style="text-align:center; vertical-align:middle">2014/02</td>
		<td style="text-align:center; vertical-align:middle">3</td>
		<td style="text-align:center; vertical-align:middle">380,000</td>
		
		<td style="text-align:center; vertical-align:middle">250,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">30,000</td>
		<td style="text-align:center; vertical-align:middle">50,000</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>

		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle">-</td>
		<td style="text-align:center; vertical-align:middle">0</td>
		<td style="text-align:center; vertical-align:middle; color:blue">-20,000</td>
		<td style="text-align:center; vertical-align:middle"><button class="btn btn-small" onclick="inputDetail('1', '3');">입력</button></td>
		<td style="text-align:center; vertical-align:middle"><button class="btn btn-small" onclick="showBill('1', '4');">확인</button></td>
		<td style="text-align:center; vertical-align:middle"><input type="checkbox"></td>
	</tr>
</table>
