<table class="table table-bordered table-condensed">
	<colgroup>
		<col width="4%">
		<col width="5%">
		<col width="5%">
		<col width="3%">
		<col width="5%">

		<col width="8%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="5%">

		<col width="6%">
		<col width="6%">
		<col width="7%">
		<col width="4%">
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center">선택 출력</th>
		<th rowspan="2" style="text-align:center">호수</th>
		<th rowspan="2" colspan="2" style="text-align:center">입주자</th>
		<th rowspan="2" style="text-align:center">구분</th>

		<th rowspan="2" style="text-align:center">보증금</th>
		<th colspan="3" style="text-align:center">임대료 및 관리비</th>
		<th colspan="3" style="text-align:center">공과금</th>
		<th rowspan="2" style="text-align:center">연체료</th>

		<th rowspan="2" style="text-align:center">합계금액</th>
		<th colspan="2" style="text-align:center">최종 금액</th>
		<th style="text-align:center">확인</th>
	</tr>
	<tr>
		<th style="text-align:center">임대료</th>
		<th style="text-align:center">관리비</th>
		<th style="text-align:center">VAT/주차</th>

		<th style="text-align:center">전기</th>
		<th style="text-align:center">수도</th>
		<th style="text-align:center">가스</th>

		<th style="text-align:center">변동금액</th>
		<th style="text-align:center">확정금액</th>
		<td style="text-align:center"><input type="checkbox"></td>
	</tr>
	<tr>
		<td style="text-align:center"><input type="checkbox"></td>
		<td style="text-align:center">101</td>
		<td style="text-align:center">김호근</td>
		<td style="text-align:center">남</td>
		<td style="text-align:center">월세</td>

		<td style="text-align:center">20,000,000</td>
		<td style="text-align:center">250,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">30,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center">0</td>

		<td style="text-align:center">0</td>
		<td style="text-align:center; color:red">+20,000</td>
		<td style="text-align:center">400,000</td>
		<td style="text-align:center"><input type="checkbox"></td>
	</tr>
	<tr>
		<td style="text-align:center"><input type="checkbox"></td>
		<td style="text-align:center">102</td>
		<td style="text-align:center">강민형</td>
		<td style="text-align:center">남</td>
		<td style="text-align:center">월세</td>

		<td style="text-align:center">20,000,000</td>
		<td style="text-align:center">250,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">30,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center">0</td>

		<td style="text-align:center">0</td>
		<td style="text-align:center; color:blue">-20,000</td>
		<td style="text-align:center">380,000</td>
		<td style="text-align:center"><input type="checkbox"></td>
	</tr>
</table>
