<table class="table table-bordered table-condensed">
	<colgroup>
		<col width="4%">
		<col width="5%">
		<col width="5%">
		<col width="3%">
		<col width="8%">
		<col width="7%">
		<col width="5%">
		<col width="6%">
		<col width="6%">
		<col width="6%">
		<col width="8%">
		<col width="10%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
	</colgroup>
	<tr>
		<th style="text-align:center">층</th>
		<th style="text-align:center">호수</th>
		<th colspan="2" style="text-align:center">입주자</th>
		<th style="text-align:center">입주일</th>
		<th style="text-align:center">입주검침</th>
		<th style="text-align:center">호수</th>
		<th style="text-align:center">사용일</th>
		<th style="text-align:center">7월7일</th>
		<th style="text-align:center">사용량</th>
		<th style="text-align:center">수정사용량</th>
		<th style="text-align:center">적용기본요금</th>
		<th style="text-align:center">TV수신료</th>
		<th style="text-align:center">사용요금</th>
		<th style="text-align:center">부과요금</th>
	</tr>
	<tr>
		<td style="text-align:center">10층</td>
		<td style="text-align:center">1001</td>
		<td style="text-align:center">김현성</td>
		<td style="text-align:center">남</td>
		<td style="text-align:center">2013.07.27</td>
		<td style="text-align:center">48</td>
		<td style="text-align:center">101</td>
		<td style="text-align:center">12</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
