<% var w = new Array(5,5,5,5,5,6,6,6,6,6,6,6,6,6,6,5,5,5); %>
<table class="table table-bordered table-condensed" style="margin-bottom:0px">
<!--	<colgroup>
	<% for (i = 0 ; i < w.length; i++) { %>
		<col width="<%= w[i] %>%">
	<% } %>
	</colgroup>
-->
	<tr>
		<th rowspan="2" colspan="2" style="text-align:center">연체내역</th>
		<th rowspan="2" colspan="2" style="text-align:center">납부확인</th>
		<th rowspan="2" style="text-align:center">년도/월</th>
		<th rowspan="2" style="text-align:center">회차</th>
		<th rowspan="2" style="text-align:center">합계금액</th>
		<th colspan="2" style="text-align:center">납부일</th>
		<th colspan="3" style="text-align:center">미납 처리 사항</th>
		<th rowspan="2" style="text-align:center">처리상태</th>
		<th rowspan="2" style="text-align:center">미납처리입력</th>
		<th colspan="3" style="text-align:center">납부 내역 수정</th>
	</tr>
	<tr>
		<th style="text-align:center">예정일</th>
		<th style="text-align:center">입금일</th>
		<th style="text-align:center">입금액</th>
		<th style="text-align:center">미납액</th>
		<th style="text-align:center">처리일자</th>
		<th style="text-align:center">수정</th>
		<th colspan="2" style="text-align:center">회차</th>
	</tr>
	<% for (i = 2; i >= 0; i--) { %>
	<tr>
		<td style="text-align:center">미납</td>
		<td style="text-align:center">1회</td>
		<td style="text-align:center">납부</td>
		<td style="text-align:center">없음</td>
		<td style="text-align:center">2014.02</td>
		<td style="text-align:center">9</td>
		<td style="text-align:center">200,000</td>
		<td style="text-align:center; color:blue">2014.01.28</td>
		<td style="text-align:center; color:red"></td>
		<td style="text-align:center">0</td>
		<td style="text-align:center; background-color:red">200,000</td>
		<td style="text-align:center">2014.01.29</td>
		<td style="text-align:center">처리</td>
		<td style="text-align:center"><button class="btn btn-small" onclick="">입력</button></td>
		<td style="text-align:center"><button class="btn btn-mini" onclick="">수정</button></td>
		<td style="text-align:center">수정</td>
		<td style="text-align:center">0회</td>
	</tr>
	<% } %>
 </table>  






