<table class="table table-bordered table-condensed" style="margin-bottom:0px">
	<colgroup>
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="7%">
		<col width="9%">
		<col width="7%">
		<col width="7%">
		<col width="4%">
		<col width="4%">
		<col width="6%">
	</colgroup>
	<tr>
		<th rowspan="2" style="text-align:center; vertical-align:middle">년도/월</th>
		<th colspan="3" style="text-align:center">임대료 및 관리비</th>
		<th colspan="3" style="text-align:center">공과금</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">연체료</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">합계금액</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">입금일</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">입금액</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">미납액</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">회차</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">비고</th>
		<th rowspan="2" style="text-align:center; vertical-align:middle">상세</th>
	</tr>
	<tr>
		<th style="text-align:center">임대료</th>
		<th style="text-align:center">관리비</th>
		<th style="text-align:center">VAT/주차</th>
		<th style="text-align:center">전기</th>
		<th style="text-align:center">수도</th>
		<th style="text-align:center">가스</th>
	</tr>
	<tr>
		<td style="text-align:center">2014/01</td>
		<td style="text-align:center">250,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">30,000</td>
		<td style="text-align:center">50,000</td>
		<td style="text-align:center">35,200</td>
		<td style="text-align:center">37,000</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center">182,000</td>
		<td style="text-align:center">2014.01.28</td>
		<td style="text-align:center">100,000</td>
		<td style="text-align:center">82,000</td>
		<td style="text-align:center">10</td>
		<td style="text-align:center">0</td>
		<td style="text-align:center"><button class="btn btn-mini">보기</button></td>
	</tr>
</table>
