<div class="span2 main-menu-span">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu" style="margin-bottom:0px">
			<li class="nav-header hidden-tablet">주요 메뉴</li>
			<li><a href="/main/"><i class="icon-align-justify"></i><span class="hidden-tablet"> 홈으로</span></a></li>
			<li><a href="#building" data-toggle="collapse"><i class="icon-home"></i><span class="hidden-tablet"> [건물 관리 시스템]</span></a></li>
			<ul id="building" class="nav nav-tab nav-stacked main-menu collapse" style="margin-bottom:-1px">
	            <li><a href="/building/register/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 건물 정보 등록</span></a></li>
				<li><a href="/building/search/building/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 등록 건물 정보 확인</span></a></li>
				<li><a href="/building/search/rooms/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 등록 호수 정보 확인</span></a></li>
	        </ul>

			<li><a href="#resident" data-toggle="collapse"><i class="icon-user"></i><span class="hidden-tablet"> [입주자 관리 시스템]</span></a></li>
			<ul id="resident" class="nav nav-tab nav-stacked main-menu collapse" style="margin-bottom:-1px">
	            <li><a href="/resident/show/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 확인(목록)</span></a></li>
				<li><a href="/resident/info/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 입력(개별)</span></a></li>
				<li><a href="/resident/infoFile/"><i class="icon-hand-right"></i><span class="hidden-tablet"> 입주자 정보 입력(파일)</span></a></li>
			</ul>

			<li><a href="#lease" data-toggle="collapse"><i class="icon-file"></i><span class="hidden-tablet"> [통합 내역 관리 시스템]</span></a></li>
			<ul id="lease" class="nav nav-tab nav-stacked main-menu collapse" style="margin-bottom:-1px">
	            <li><a href="/lease/show/lease"><i class="icon-hand-right"></i><span class="hidden-tablet"> 통합 내역 관리 (확인)</span></a></li>
				<li><a href="/lease/input/check"><i class="icon-hand-right"></i><span class="hidden-tablet"> 고지 내역 관리 (입력)</span></a></li>
				<li><a href="/lease/payment"><i class="icon-hand-right"></i><span class="hidden-tablet"> 납부 내역 관리 (입력)</span></a></li>
				<li><a href="/lease/leave"><i class="icon-hand-right"></i><span class="hidden-tablet"> 퇴거 정산서 관리 (입력/확인)</span></a></li>
			</ul>
		</ul>
	</div>

	<div id="sidebar-collapse">
		<i class="icon-backward"></i>
	</div>
</div>
