<div class="main-menu-span" style="width:45px">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu" style="margin-bottom:0px">
			<li class="nav-header hidden-tablet" style="padding:3px 10px">메뉴</li>
			<li><a href="/main/"><i class="icon-align-justify"></i></a></li>
			<li><a href="#" id="building" rel="popover"><i class="icon-home"></i></a></li>
			<li><a href="#" id="resident" rel="popover"><i class="icon-user"></i></a></li>
			<li><a href="#" id="lease" rel="popover"><i class="icon-file"></i></a></li>
		</ul>
	</div>

	<div id="sidebar-collapse">
		<i class="icon-forward"></i>
	</div>
</div>
